<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- head 추가해줌 -->
<th:block th:replace="fragments/head :: headFragment"></th:block>

<body>
  <th:block th:replace="fragments/header :: headerFragment"></th:block>

  <main id="login_page_wrap">
    <div class="login">
      <form id="login_form" action="/login/action" method="post">

          <div th:if="${error}" class="alert">
            <p th:text="${exception}" class="alert"></p>
          </div>
        <div class="id">
          <label for="username">이메일</label>
          <input name="username" id="username" type="text" placeholder="이메일을 입력해주세요" title="아이디" />
        </div>
        <div class="pw">
          <label for="password">비밀번호</label>
          <input name="password" id="password" type="password" placeholder="비밀번호를 입력해주세요" title="비밀번호" />
        </div>
        <div>
          <label for="remember-me" style="color : black">Remember Password</label>
          <input id="remember-me" name="remember-me" type="checkbox" />
        </div>
        <div id="noti"> </div>
        <button id="loginBtn" type="submit">로그인</button>
      </form>
    </div>

  </main>
  <script src="/script/login.js"></script>



</body>

</html>