<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- head 추가해줌 -->
<th:block th:replace="fragments/head :: headFragment"></th:block>

<body>
  <th:block th:replace="fragments/header :: headerFragment"></th:block>
  <main id="userProfile_wrap">
    <!-- 배경이미지 -->
    <div class="userProfile_bg">
      <img
        th:src="${profile.attachUserBackground != null ? profile.attachUserBackground.thumbPath : '/image/mypage/bg.jpg'}"
        alt="유저프로필 배경이미지" class="moving_bg">
    </div>
    <div class="gap"></div>
    <div class="userProfile_scroll">
      <div class="userProfile_top">
        <!-- 프로필사진 및 편집 -->
        <div class="my_profile">
          <div class="my_profile_img circle">
            <img
              th:src="${profile.attachUser != null ? profile.attachUser.thumbPath : '/image/mypage/default_profile.jpg'}"
              src="/image/mypage/profile.jpg" alt="프로필 이미지">
          </div>
          <div class="my_profile_id">
            <span th:text="${profile.name}">yun_ah17</span>
            <span id="edit_menu">
              <img src="/image/mypage/icon/setting_wh.png" alt="프로필 수정아이콘">
            </span>
          </div>
        </div>
        <!-- 탭메뉴 -->
        <div class="drop_menu">
          <div class="search_text">
            <form action="">
              <button>
                <img src="/image/mypage/icon/search.png" alt="검색 아이콘">
              </button>
              <div>
                <input type="text" name="" id="search" placeholder="검색하기 (제목, 국가명, 동행인)">
              </div>
            </form>
          </div>
          <div class="userProfile_tab">
            <ul>
              <li class="on">
                <span>diary<em id="diary_num" th:text=" '(' + ${#lists.size(diaryList)} + ')'"></em></span>
              </li>
              <li>
                <span>tagged<em id="tagged_num" th:text=" '(' + ${#lists.size(tagDiaryList)} + ')'"></em></span>
              </li>
              <li>
                <span>review<em id="review_num">(0)</em></span>
              </li>
              <li>
                <span>traveler<em id="traveler_num"></em></span>
              </li>
            </ul>
          </div>
          <div class="search_period show">
            <img src="/image/mypage/icon/schedule_wh.png" alt="기간검색아이콘">
          </div>
          <div class="travlar_option">
            <button type="button" id="follower" class="on">follower</button>
            <button type="button" id="follow">following</button>
          </div>
        </div>
      </div>
      <!-- 게시글 보기--------------------------- -->
      <!-- 게시글 보기--------------------------- -->
      <div class="userProfile_content">
        <div class="userProfile_gallery">
          <ul class="userProfile_diary show">
            <li th:if="${diaryList != null}" th:each="diary : ${diaryList}" th:data-wid="${diary.id}">
              <div class="uP_diary_thumbnail">
                <a th:href="'/TravelCarrier/weekly/' + ${diary.id}">
                  <img th:src="${diary.attachWeekly.thumbPath}" src="/image/mypage/thumbnail1.JPG" alt="썸네일"
                    class="moving_bg">
                </a>
              </div>
              <div class="uP_diary_box">
                <div class="uP_diary_companion">
                  <ul class="sel_companion">
                    <li th:if="${diary.gowiths != null}" th:each="gowith : ${diary.gowiths}"
                      th:style="'background-image: url(' + ${gowith.user.attachUser.thumbPath} + ');'" class="circle">
                    </li>
                  </ul>
                </div>
                <div class="uP_diary_text">
                  <span th:text="${diary.title}" class="uP_diary_tit">Budapest</span>
                  <span
                    th:text="${#dates.format(diary.travelDate.sDate, 'yyyy.MM.dd') + '-' + #dates.format(diary.travelDate.eDate, 'yyyy.MM.dd')}"
                    class="uP_diary_period">2022.10.19 - 2022.10.20</span>
                </div>
                <div class="uP_diary_btn">
                  <a th:href="'/TravelCarrier/weekly/' + ${diary.id}">수정하기</a>
                  <button type="button" class="weeklyDelBtn">
                    삭제하기
                  </button>
                </div>
              </div>
            </li>
          </ul>
          <ul class="userProfile_tagged">
            <li th:if="${tagDiaryList != null}" th:each="diary : ${tagDiaryList}">
              <div class="uP_diary_thumbnail">
                <a th:href="'/TravelCarrier/weekly/' + ${diary.id}">
                  <img th:if="${diary.attachWeekly != null}" th:src="${diary.attachWeekly.thumbPath}"
                    src="/image/mypage/thumbnail1.JPG" alt="썸네일" class="moving_bg">
                </a>
              </div>
              <div class="uP_diary_box">
                <div class="uP_diary_companion">
                  <ul class="sel_companion">
                    <li th:if="${diary.gowiths != null}" th:each="gowith : ${diary.gowiths}"
                      th:style="'background-image: url(' + ${gowith.user.attachUser.thumbPath} + ');'" class="circle">
                    </li>
                  </ul>
                </div>
                <div class="uP_diary_text">
                  <span th:text="${diary.title}" class="uP_diary_tit">Budapest</span>
                  <span
                    th:text="${#dates.format(diary.travelDate.sDate, 'yyyy.MM.dd') + '-' + #dates.format(diary.travelDate.eDate, 'yyyy.MM.dd')}"
                    class="uP_diary_period">2022.10.19 - 2022.10.20</span>
                </div>
                <div class="uP_diary_btn">
                  <a th:href="'/TravelCarrier/weekly/' + ${diary.id}">숨기기</a>
                  <button type="button">
                    삭제하기
                  </button>
                </div>
              </div>
            </li>
          </ul>
          <ul class="userProfile_review">
            <p>페이지준비중입니다</p>
          </ul>
          <div class="userProfile_traveler">
            <ul class="follower show">

            </ul>
            <ul class="follow">
            </ul>
          </div>
          <button id="more_btn">more</button>
        </div>
      </div>
    </div>
  </main>
  <div class="period_modal_bg modal_bg">
    <div class="period_modal">
      <div class="modal_title">
        <h3>기간 조회</h3>
        <button class="close">
          <i class="xi-close xi-2x"></i>
        </button>
      </div>
      <div class="modal_content">
        <div class="inquire_period">
          <h3>기간 선택</h3>
          <div>
            <ul>
              <li class="on">기간없음</li>
              <li>1주일</li>
              <li>1개월</li>
              <li>3개월</li>
              <li>6개월</li>
              <li>지난 1년</li>
            </ul>
          </div>
        </div>
        <div class="direct_period">
          <h3>직접 입력</h3>
          <div class="period_flex">
            <span class="dateSet">
              <input name="sdate" type="text" id="sdate">
              <a href="#none" class="btncalender dateClick">달력</a>
            </span>
            <span class="dami"></span>
            <!-- 여행 종료일 -->
            <span class="dateSet">
              <input name="edate" type="text" id="edate">
              <a href="#none" class="dateClick">달력</a>
            </span>
          </div>
        </div>
        <button id="search_period">조회하기</button>
      </div>
    </div>
  </div>
  <div class="edit_menu modal_bg">
    <div>
      <ul>
        <li id="edit_profile">프로필 수정</li>
        <li>계정정보</li>
        <li onclick="confirmLogout(event)" type="button">
          <!-- <form class="logout" method="get" action="/logout/action" id="logoutForm"> -->
          <span>
            로그아웃</span>
          <!-- </form> -->
        </li>
        <li>취소</li>
      </ul>
    </div>
  </div>
  <div class="edit_modal modal_bg show">
    <div class="edit_modal_wrap">
      <div class="edit_modal_nav">
        <div class="my_profile">
          <div class="my_profile_img circle">
            <img
              th:src="${profile.attachUser != null ? profile.attachUser.thumbPath : '/image/mypage/default_profile.jpg'}"
              src="/image/mypage/profile.jpg" alt="프로필 이미지">
          </div>
          <div class="my_profile_id">
            <span th:text="${profile.name}">yun_ah17</span>
          </div>
        </div>
        <ul>
          <li class="on"><span>프로필 편집</span></li>
          <li><span>계정 설정</span></li>
          <li><span>로그아웃</span></li>
          <li><span>탈퇴</span></li>
          <li><span>눈누난나</span></li>
        </ul>
      </div>
      <!-- 환결설정 모달창========================================================= -->
      <div class="edit_modal_con">
        <ul>
          <!-- 프로필 이미지 변경 -->
          <li class="edit_profile">
            <!-- <form> -->
            <div class="edit_profile_ex">
              <h3>미리보기
                <p>하단의 저장버튼을 잊지말고 눌러주세요!</p>
              </h3>
              <!-- 배경이미지 -->
              <div class="edit_profile_padding">
                <div>
                  <div class="userProfile_bg">
                    <img
                      th:src="${profile.attachUserBackground != null ? profile.attachUserBackground.thumbPath : '/image/mypage/bg.jpg'}"
                      alt="유저프로필 배경이미지">
                    <!-- 프로필사진 및 편집 -->
                  </div>
                  <div class="my_profile">
                    <div class="my_profile_img circle">
                      <img
                        th:src="${profile.attachUser != null ? profile.attachUser.thumbPath : '/image/mypage/default_profile.jpg'}"
                        src="/image/mypage/profile.jpg" alt="프로필 이미지">
                    </div>
                    <div class="my_profile_id">
                      <span th:text="${profile.name}">yun_ah17</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="choose_profile">
              <h3>프로필 이미지</h3>
              <ul class="edit_profile_padding">
                <li class="upload_image">
                  <input type="radio" name="choose_profile" id="upload_profile" value="upload_profile" class="hide">
                  <label for="upload_profile">
                    <div class="on">
                      <input type="file" id="profile_img_change" class="hide">
                      <div for="profile_img_change" class="profile_img_ex select_img icon_bg circle">
                        <span class="icon_bg_dark">
                          <img
                            th:src="${profile.attachUser != null ? profile.attachUser.thumbPath : '/image/mypage/default_profile.jpg'}"
                            src="/image/mypage/profile.jpg" alt="프로필 이미지">
                        </span>
                      </div>
                    </div>
                    <span>이미지 선택</span>
                  </label>
                </li>
                <li class="default_profile">
                  <input type="radio" name="choose_profile" id="default_profile" value="default_profile" class="hide">
                  <label for="default_profile">
                    <div>
                      <div class="profile_img_ex circle">
                        <img src="/image/default/randomly_profile/randomly_profile4.jpg" alt="기본프로필이미지">
                      </div>
                    </div>
                    <span>기본 프로필</span>
                  </label>
                </li>
                <li class="ramdomly_profile">
                  <input type="radio" name="choose_profile" id="ramdomly_profile" value="ramdomly_profile" class="hide">
                  <label for="ramdomly_profile">
                    <div>
                      <div class="profile_img_ex circle">
                        <img src="/image/default/randomly_profile/randomly_profile2.jpg" alt="랜덤프로필이미지">
                      </div>
                    </div>
                    <span>랜덤 프로필</span>
                  </label>
                </li>
              </ul>
            </div>
            <div class="choose_bg">
              <h3>프로필 배경</h3>
              <ul class="edit_profile_padding">
                <li class="upload_image on">
                  <input type="radio" name="choose_bg" id="upload_bg" value="upload_bg" class="hide">
                  <label for="upload_bg">
                    <div>
                      <div class="profile_bg_ex select_img icon_bg">
                        <input type="file" id="profile_bg_change" class="hide">
                        <span class="icon_bg_dark">
                          <img
                            th:src="${profile.attachUserBackground != null ? profile.attachUserBackground.thumbPath : '/image/mypage/bg.jpg'}"
                            alt="유저프로필 배경이미지">
                        </span>
                      </div>
                    </div>
                    <span>이미지 선택</span>
                  </label>
                </li>
                <li class="default_profile">
                  <input type="radio" name="choose_bg" id="default_bg" value="default_bg" class="hide">
                  <label for="default_bg">
                    <div>
                      <div class="profile_bg_ex">
                        <img src="/image/default/default_bg0.jpg" alt="기본프로필이미지">
                      </div>
                    </div>
                    <span>기본 배경</span>
                  </label>
                </li>
                <li class="ramdomly_profile">
                  <input type="radio" name="choose_bg" id="ramdomly_bg" value="ramdomly_bg" class="hide">
                  <label for="ramdomly_bg">
                    <div>
                      <div class="profile_bg_ex">
                        <img src="/image/default/randomly_bg/randomly_bg1.jpg" alt="랜덤프로필이미지">
                      </div>
                    </div>
                    <span>랜덤 배경</span>
                  </label>
                </li>
              </ul>
            </div>
            <div class="edit_profile_saveBtn">
              <button type="submit" class="btn">저장하기</button>
            </div>
            <!-- </form> -->
          </li>
          <!-- 프로필 변경 끝 -->
          <!-- 개인정보설정 -->
          <li></li>
        </ul>
      </div>
    </div>
    <button class="clos">
      <span></span>
      <span></span>
    </button>
  </div>
  <div class="crop_img_modal">
    <div class="crop_img_wrap">
      <h2>이미지 편집</h2>
      <div>
        <div class="crop_img">
          <img id="cropImg" src="" alt="편집할 이미지" class="preview_image">
        </div>
      </div>
      <div class="filePath">
        <p>파일명 : <span>/파일명.jpg</span></p>
        <input type="file" id="fileChange">
        <label for="fileChange">
          <img src="/image/daily/icon/changeImg.svg" alt="이미지변경아이콘">
        </label>
      </div>
      <div class="edit_img_saveBtn">
        <button type="reset" class="btn">취소하기</button>
        <button type="button" class="btn">적용하기</button>
      </div>
    </div>
  </div>
  <script src="/script/mypage.js"></script>
  <script src="/script/mypage_event.js"></script>
  <script src="/script/cropper.js"></script>

</body>

</html>