<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- head 추가해줌 -->
<th:block th:replace="fragments/head :: headFragment"></th:block>

<body>

  <th:block th:replace="fragments/header :: headerFragment"></th:block>

  <!-- 읽기 권한 없음 -->
  <th:block th:if="${readAuth == 'DENIED'}">
    <main class="weekly_scroll">
      <p>해당 게시물에 대한 읽기 권한이 없습니다.</p>
    </main>
  </th:block>

  <!-- 읽기권한 있음 : weekly 디자인 시작 -->
  <th:block th:if="${readAuth == 'GRANTED'}">
    <main class="weekly_scroll" >
      <article>
        <div class="longBox">
          <th:block th:if="${updateAuth == 'GRANTED'}">
            <div class="weekly_edit" onclick="event.preventDefault()">
              <img src="/image/weekly/icon/setting.png" alt="위클리 수정">
            </div>
          </th:block>

          <div class="weekly_mainArtc">
            <div class="writer">
              <span>by</span>
              <span th:text="${weekly.user.name}">아이디</span>
            </div>
            <div class="weekly_title">
              <h2 th:text="${weekly.title}">TITLE</h2>
            </div>
            <div class="weekly_period">
              <!-- <h3 th:text="${weekly.travelDate.sDate} + '-' + ${weekly.travelDate.eDate}">2022.10.24 - 2022.10.28</h3> -->
              <h3
                th:text="${#dates.format(weekly.travelDate.sDate, 'yyyy.MM.dd')} + ' - ' + ${#dates.format(weekly.travelDate.eDate, 'yyyy.MM.dd')}">
                2020.10.20 - 2020.10.21</h3>
            </div>
            <div class="weekly_addText">
              <textarea readonly th:text="${weekly.text}"> 요래요래 여행하고옴 다시 가고 싶다 우앵웅앵
            </textarea>
            </div>
            <div class=" weekly_with">
              <div class="weekly_companion">
                <!-- <span>with. </span> -->
<!--                <a th:if="${it.index} &lt; 5" th:each="w,it : ${weekly.gowiths}" th:href="'/member/'+${w.user.email}" >
                  <li
                          th:style="'background-image: url(' + ${w.user.attachUser.thumbPath} + ');'"
                          class="circle">
                    동행인 이미지
                  </li>
                </a>-->
                <ul class="sel_companion">
                  <li th:each="w,it : ${weekly.gowiths}"
                    th:style="'background-image: url(' + ${w.user.attachUser.thumbPath} + ');'"
                    th:if="${it.index} &lt; 5" class="circle">
                    동행인 이미지
                  </li>
                  <li th:if="${#lists.size(weekly.gowiths)} &gt; 4" class="circle" id="companion_more"></li>
                </ul>
              </div>
              <div class="weekly_disclosure">
                <span th:if="${#strings.equals(weekly.status, 'ALL')}">
                  PUBLIC
                </span>
                <span th:if="${#strings.equals(weekly.status, 'ME')}">
                  PRIVATE
                </span>
                <span th:if="${#strings.equals(weekly.status, 'FOLLOW')}">
                  FOLLOW
                </span>
                <span id="disclosure_checked">
                  <img th:if="${#strings.equals(weekly.status, 'ALL')}" src="/image/weekly/icon/public-n.png" alt="공개">
                  <img th:if="${#strings.equals(weekly.status, 'ME')}" src="/image/weekly/icon/private-n.png" alt="비공개">
                  <img th:if="${#strings.equals(weekly.status, 'FOLLOW')}" src="/image/weekly/icon/people-n.png"
                    alt="친구공개">
                </span>
              </div>
            </div>
          </div>
        </div>
      </article>

      <!-- 읽기 권한은 있으나 쓰기권한이 없을경우 -->
      <th:block th:if="${updateAuth == 'DENIED'}">
        <div th:each="wd,wdStat : ${wdList}" class="weekly_wrap">
          <!-- 홀수 레이아웃 -->
          <div th:if="${wdStat.odd}" class="shortBox_odd">
            <div class="shortBox">
              <div class="dateBox">
                <div>
                  <!-- 날짜 집어넣기 -->
                  <span th:text="${wd.realDate}">Date</span>
                  <h1 th:text="${wdStat.count < 10 ? '0' + wd.dailyDate.substring(3) : wd.dailyDate.substring(3)}"
                    class="travelDay_odd">01</h1>
                  <!-- 여행일 수 만큼 홀수 변수로 들어가게됨  -->
                </div>
              </div>


              <div th:if="${wd.keywords == null or wd.keywords.size() == 0}" class="keywordBox">
              </div>

              <div th:if="${wd.keywords != null and wd.keywords.size() > 0}" class="keywordBox">
                <ul th:each="key : ${wd.keywords}">
                  <li th:text="${key}" th:data-daily="${wd.dailyId}">keyword
                    <span class="card_del"><i class="xi-close"></i></span>
                  </li>
                </ul>
              </div>

              <div class="moreBox">
                <a href="" class="daily_path">more</a>
              </div>
            </div>

            <div th:if="${wd.thumbPath == null}" class="longBox">
              <a href="" class="daily_path">
                <div class="plusBox w-rectL">
                  <div class="plus_big">
                    <span></span>
                    <span></span>
                  </div>
                </div>
              </a>
            </div>

            <div th:if="${wd.thumbPath != null}" class="longBox">
              <a href="" class="daily_path">
                <div>
                  <img th:src="${wd.thumbPath}" src="" alt="사진이 표시되지 않음">
                </div>
              </a>
            </div>

          </div>

          <!-- 짝수 레이아웃 -->
          <div th:if="${wdStat.even}" class="shortBox_even">
            <div class="shortBox">
              <div class="moreBox">
                <a href="" class="daily_path">more</a>
              </div>

              <div th:if="${wd.keywords == null or wd.keywords.size() == 0}" class="keywordBox">
              </div>

              <div th:if="${wd.keywords != null and wd.keywords.size() > 0}" class="keywordBox">
                <ul th:each="key : ${wd.keywords}">
                  <li th:text="${key}" th:data-daily="${wd.dailyId}">keyword</li>
                </ul>
              </div>

              <div class="dateBox">
                <span th:text="${wd.realDate}">Date</span>
                <h1 th:text="${wdStat.count < 10 ? '0' + wd.dailyDate.substring(3) : wd.dailyDate.substring(3)}"
                  class="travelDay_odd">02</h1>
              </div>
            </div>

            <div th:if="${wd.thumbPath == null}" class="longBox">
              <a href="" class="daily_path">
                <div class="plusBox w-rectL">
                  <div class="plus_big">
                    <span></span>
                    <span></span>
                  </div>
                </div>
              </a>
            </div>

            <div th:if="${wd.thumbPath != null}" class="longBox">
              <a href="" class="daily_path">
                <div>
                  <img th:src="${wd.thumbPath}" src="" alt="사진이 표시되지 않음">
                </div>
              </a>
            </div>

          </div>
        </div>
      </th:block>

      <!-- 읽기 권한/ 쓰기권한 둘다있을경우 -->
      <th:block th:if="${updateAuth == 'GRANTED'}">
        <div th:each="wd,wdStat : ${allWdList}" class="weekly_wrap">
          <!-- 홀수 레이아웃 -->
          <div th:if="${wdStat.odd}" class="shortBox_odd">
            <div class="shortBox">
              <div class="dateBox">
                <div>
                  <!-- 날짜 집어넣기 -->
                  <span th:text="${wd.realDate}">Date</span>
                  <h1 th:text="${wdStat.count < 10 ? '0' + wdStat.count : wdStat.count}" class="travelDay_odd">01</h1>
                  <!-- 여행일 수 만큼 홀수 변수로 들어가게됨  -->
                </div>
              </div>


              <div th:if="${wd.keywords == null or wd.keywords.size() == 0}" class="keywordBox">
                <span th:if="${wd.dailyId != 0}" class="keyword" th:data-daily="${wd.dailyId}">&#x2004;키워드
                  입력&#x2004;</span>
                <span th:if="${wd.dailyId == 0}">&#x2004;daily를 먼저 작성해주세요&#x2004;</span>
              </div>

              <div th:if="${wd.keywords != null and wd.keywords.size() > 0}" class="keywordBox">
                <ul th:each="key : ${wd.keywords}">
                  <li class="keyword" th:text="${key}" th:data-daily="${wd.dailyId}">keyword
                    <span class="card_del"><i class="xi-close"></i></span>
                  </li>
                </ul>
              </div>

              <div class="moreBox">
                <a href="" class="daily_path">more</a>
              </div>
            </div>

            <div th:if="${wd.thumbPath == null}" class="longBox">
              <a href="" class="daily_path">
                <div class="plusBox w-rectL">
                  <div class="plus_big">
                    <span></span>
                    <span></span>
                  </div>
                </div>
              </a>
            </div>

            <div th:if="${wd.thumbPath != null}" class="longBox">
              <a href="" class="daily_path">
                <div>
                  <img th:src="${wd.thumbPath}" src="" alt="사진이 표시되지 않음">
                </div>
              </a>
            </div>

          </div>

          <!-- 짝수 레이아웃 -->
          <div th:if="${wdStat.even}" class="shortBox_even">
            <div class="shortBox">
              <div class="moreBox">
                <a href="" class="daily_path">more</a>
              </div>

              <div th:if="${wd.keywords == null or wd.keywords.size() == 0}" class="keywordBox">
                <span th:if="${wd.dailyId != 0}" class="keyword" th:data-daily="${wd.dailyId}">&#x2004;키워드
                  입력&#x2004;</span>
                <span th:if="${wd.dailyId == 0}">&#x2004;daily를 먼저 작성해주세요&#x2004;</span>
              </div>

              <div th:if="${wd.keywords != null and wd.keywords.size() > 0}" class="keywordBox">
                <ul th:each="key : ${wd.keywords}">
                  <li class="keyword" th:text="${key}" th:data-daily="${wd.dailyId}">keyword</li>
                </ul>
              </div>

              <div class="dateBox">
                <span th:text="${wd.realDate}">Date</span>
                <h1 th:text="${wdStat.count < 10 ? '0' + wdStat.count : wdStat.count}" class="travelDay_even">02</h1>
              </div>
            </div>

            <div th:if="${wd.thumbPath == null}" class="longBox">
              <a href="" class="daily_path">
                <div class="plusBox w-rectL">
                  <div class="plus_big">
                    <span></span>
                    <span></span>
                  </div>
                </div>
              </a>
            </div>

            <div th:if="${wd.thumbPath != null}" class="longBox">
              <a href="" class="daily_path">
                <div>
                  <img th:src="${wd.thumbPath}" src="" alt="사진이 표시되지 않음">
                </div>
              </a>
            </div>

          </div>
        </div>
      </th:block>

      <!-- 여행일 추가하기-->
      <div class="shortBox_odd weekly_finish_odd">
        <div class="shortBox">
          <div class="plusBox_end">
            <a href="#">
              <div class="plusBox">
                <div class="plus_big">
                  <span></span>
                  <span></span>
                </div>
              </div>
            </a>
          </div>
          <div class="keywordBox">
            <ul>
              <li>
                <a href="/">메인페이지</a>
              </li>
              <li>
                <a href="/member/mypage">마이페이지이동</a>
              </li>
              <li>
                <a href="#">게시판이동</a>
              </li>

            </ul>
          </div>
          <div class="moreBox">
            <a href="#" class="top">GoToFirst</a>
          </div>
        </div>
      </div>
      <div class="shortBox_even weekly_finish_even">
        <div class="shortBox">
          <div class="moreBox">
            <a href="#" class="top">GoToFirst</a>
          </div>
          <div class="keywordBox">
            <ul>
              <li>
                <a href="/">메인페이지</a>
              </li>
              <li>
                <a href="/member/mypage">마이페이지이동</a>
              </li>
              <li>
                <a href="#">게시판이동</a>
              </li>

            </ul>
          </div>
          <div class="plusBox_end">
            <a href="#">
              <div class="plusBox">
                <div class="plus_big">
                  <span></span>
                  <span></span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <!-- 키워드 모달 modal -->
      <div class="keyword_modal_bg modal_bg">
        <div class="keyword_modal">
          <div class="modal_title">
            <h3>키워드 추가</h3>
            <button class="close">
              <i class="xi-close xi-2x"></i>
            </button>
          </div>
          <div class="addKeyword">
            <input type="text" name="keyword" placeholder="키워드를 작성해주세요">
            <div>
              <p>등록된 키워드 <em>(키워드는 최대 5개까지 등록이 가능합니다)</em></p>
              <ul class="keyword_card">
                <!-- <li class="card">
                <span>키워드5</span>
              <span class="card_del"><i class="xi-close"></i></span>
            </li> -->
              </ul>
            </div>
          </div>
          <button class="btn" id="keyword_save">저장하기</button>
        </div>
      </div>
      <!-- 위클리 수정 모달 modal -->
      <th:block th:if="${updateAuth == 'GRANTED'}">
        <div class="weekly_modal_bg">
          <div class="weekly_modal">
            <div id="weekly_modal_form">
              <div class="modal_title">
                <h3>위클리를 수정하세요</h3>
                <button class="close">
                  <i class="xi-close xi-2x"></i>
                </button>
              </div>
              <form id="weeklyForm" action="" method="post" enctype="multipart/form-data" name="weekly_form"
                class="weekly_form">
                <div class="thumbnail">
                  <div class="thumbnail_input">
                    <div class="thumbnail_text">
                      <h3>썸네일</h3>
                      <p>지도에서 보여질 여행 썸네일 이미지를 선택해주세요. 이미지는 크기에 맞게 리사이징 됩니다. 썸네일 사진이 없을 경우에는 자동 지정된 이미지가 보여집니다.</p>
                    </div>
                    <div class="thumbnail_img circle">
                      <img th:src="${weekly.attachWeekly.thumbPath}" alt="오류"></img>
                    </div>
                    <div class="thumbnail_btn">
                      <button class="btn white_btn" type="button">
                        <label for="thumbnail_change">
                          <img class="weekly_icon" src="/image/weekly/icon/edit-image-b.png" alt="img change icon">
                          <span>이미지 변경</span>
                          <input type="file" name="file" class="hide" id="thumbnail_change">
                        </label>
                        <!-- <span>이미지 변경</span> -->
                      </button>
                      <button class="btn white_btn removeBtn" type="button">
                        <img class="weekly_icon" src="/image/weekly/icon/trash-can-b.png" alt="img delate icon">
                        <span>이미지 삭제</span>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="weekly_input">
                  <ul>
                    <li> <!-- 국가 선택 / select:name = option:value----------------------------- -->
                      <div class="country">
                        <h3>여행 국가</h3>
                        <select name="nation">
                          <option th:each="nation : ${nationList}" th:value="${nation.id}" th:text="${nation.name}" th:selected="${weekly.nation.id == nation.id}"></option>
                        </select>

                      </div>
                      <!-- 여행 기간 / script로 text -> date변환------------------------------- -->
                      <div class="period">
                        <h3>여행 기간</h3>
                        <!-- 여행 시작일 -->
                        <div class="period_flex">
                          <span class="dateSet">
                            <input name="sdate" type="text" id="sdate" th:value="${weekly.travelDate.sDate}">
                            <a href="#none" class="btncalender dateClick">달력</a>
                          </span>
                          <!-- 여행 종료일 -->
                          <span class="dateSet">
                            <input name="edate" type="text" id="edate" th:value="${weekly.travelDate.eDate}">
                            <a href="#none" class="dateClick">달력</a>
                          </span>
                        </div>
                      </div>
                    </li>
                    <li> <!-- 제목 입력-------------------------------- -->
                      <div class="title">
                        <h3>제목</h3>
                        <input name="title" type="text" placeholder="제목을 작성해주세요(미입력시 국가명으로 자동입력됩니다)"
                          th:value="${weekly.title}">
                          <span id="countText">(0/100)</span>
                      </div>
                    </li>
                    <li><!-- 일기 작성-------------------------------- -->
                      <div class="addText">
                        <h3>추가글</h3>
                        <textarea name="text" id="addText" cols="30" rows="10" wrap="off"
                          placeholder="추가로 기재하고 싶은 글이 있을 경우 작성해주세요" th:text="${weekly.text}"></textarea>
                        <span id="countText">(0/100)</span>
                      </div>
                    </li>
                    <li> <!-- 동행인--------------------------------------- -->
                      <div class="companion">
                        <h3>동행인</h3>
                        <!-- 보이는 부분 -->
                        <ul class="sel_companion" id="sc">
                          <li th:each="w,it : ${weekly.gowiths}"
                            th:attr="data-fid=${w.user.id}, data-fname=${w.user.name}, name='gowiths'"
                            th:style="'background-image: url(' + ${w.user.attachUser.thumbPath} + ');'"
                            th:if="${it.index} &lt; 3" class="circle">
                            동행인 이미지
                          </li>
                          <li id="plus_companion">
                            <i class="xi-plus"></i>
                            <span>동행인 추가</span>
                          </li>
                        </ul>

                      </div>
                      <!-- 공개여부------------------------------------ -->
                      <div class="disclosure">
                        <h3>공개여부</h3>
                        <ul>

                          <li class="public">
                            <input type="radio" th:checked="${#strings.equals(weekly.status, 'ALL')}" name="status"
                              value="public" id="public" class="hide" th:disabled="${selfAuth == 'DENIED'}">
                            <label for="public"><img src="/image/weekly/icon/public-b.png" alt="게시글 공개" class="weekly_icon">
                              공개</label>
                          </li>
                          <li class="shareFriends">
                            <input type="radio" th:checked="${#strings.equals(weekly.status, 'FOLLOW')}" name="status"
                              value="shareFriends" id="shareFriends" class="hide" th:disabled="${selfAuth == 'DENIED'}">
                            <label for="shareFriends"><img src="/image/weekly/icon/people-b.png" alt="게시글 친구공개"
                                class="weekly_icon">
                              친구공개</label>
                          </li>
                          <li class="private">
                            <input type="radio" th:checked="${#strings.equals(weekly.status, 'ME')}" name="status"
                              value="private" id="private" class="hide" th:disabled="${selfAuth == 'DENIED'}">
                            <label for="private"><img src="/image/weekly/icon/private-b.png" alt="게시글 비공개" class="weekly_icon">
                              비공개</label>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </form>
              <button type="submit" class="btn updateWeekly"> 저장하기 </button>
            </div>
          </div>
          <!-- 동행인 추가 팝업 -->
          <div class="companion_modal_bg modal_bg">
            <div class="companion_modal">
              <h3>아이디 검색</h3>
              <div class="id_search">
                <input type="search" placeholder="이름 또는 아이디를 입력해주세요">
                <img src="/image/weekly/icon/serch.svg" alt="serch icon">
              </div>
              <div class="friendsList">
                <ul class="checked_friends">
                </ul>
                <ul class="search_friends">
                  <li th:each="f : ${user.followers}"
                    th:attr="data-fid=${f.follower.id}, data-fname=${f.follower.name}">
                    <input type="checkbox" value="yunah" th:id="'#' + ${f.follower.id}" class="hide">
                    <label th:for="'#' + ${f.follower.id}">
                      <span class="profile_circle circle">
                        <img th:src="${f.follower.attachUser.thumbPath}" src="/image/weekly/friendList/friend2.png"
                          alt="프로필사진">
                      </span>
                      <span th:text="${f.follower.name}" class="nickname">닉네임</span>
                    </label>
                  </li>
                </ul>
              </div>
              <div class="if_no_friends">
                <div class="center">
                  <div>
                    <img src="image/weekly/icon/addfriend.svg" alt="친구추가아이콘">
                  </div>
                  <div>
                    <p>아직 등록된 친구가 없어요</p>
                    <p>친구를 등록해주세요!</p>
                    <p>(위클리 저장 후 동행인을 추가해보세요)</p>
                  </div>
                </div>
              </div>
              <button type="button" class="btn goWithBtn">확인</button>
            </div>
          </div>
        </div>
      </th:block>

    </main>
  </th:block>

  <script th:inline="javascript">
    var selfAuth = /*[[${selfAuth}]]*/ null;
    console.log(selfAuth);
    var all_keywords = [
      [# th:each = "wd : ${allWdList}"]
      [[${ wd.keywords }]],
      [/] 
      ];
    console.log("all_keywords");
    console.log(all_keywords);

    var weeklyId = [[${weekly.id}]];

    var selectNation = /*[[${weekly.nation}]]*/ null;
    console.log(selectNation);

    var sgowiths = [
      [# th:each = "gw : ${weekly.gowiths}"]
      [[${ gw.user.id }]],
      [/]
      ];

  </script>
  <script src="/script/countries.js"></script>
  <script src="/script/weekly.js"></script>
  <script src="/script/weeklyform.js"></script>

</body>

</html>