<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- head 추가해줌 -->
<th:block th:replace="fragments/head :: headFragment"></th:block>

<body>

  <th:block th:replace="fragments/header :: headerFragment"></th:block>

  <!-- weekly 디자인 시작 -->
  <main class="weekly_scroll">
    <article id="top">
      <div class="longBox">
        <div class="weekly_edit">
          <a href="#none">
            <img src="/image/weekly/icon/setting.png" alt="위클리 수정">
          </a>
        </div>
        <div class="weekly_mainArtc">
          <div class="weekly_title">
            <h2 th:text="${weekly.title}">TITLE</h2>
          </div>
          <div class="weekly_period">
            <!-- <h3 th:text="${weekly.travelDate.sDate} + '-' + ${weekly.travelDate.eDate}">2022.10.24 - 2022.10.28</h3> -->
            <h3
              th:text="${#dates.format(weekly.travelDate.sDate, 'yyyy.MM.dd')} + ' - ' + ${#dates.format(weekly.travelDate.eDate, 'yyyy.MM.dd')}">
              2020.10.20 - 2020.10.21</h3>
          </div>
          <div class="weekly_addText">
            <p th:text="${weekly.text}"> 요래요래 여행하고옴 다시 가고 싶다 우앵웅앵
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident quia harum odio, reprehenderit ut a
              sunt ab nisi nobis laboriosam. Dicta aut odit reprehenderit animi ea asperiores tempore non sint.
            </p>
          </div>
          <div class=" weekly_with">
            <div class="weekly_companion">
              <span>with.</span>
              <ul class="sel_companion">
                <!-- <li th:each="w,it : ${weekly.gowiths}"
                  th:style="'background-image: url(' + ${w.userID.attachUser.thumbPath} + ');'"
                  th:if="${it.index} &lt; 5" class="circle">
                  동행인 이미지
                </li> -->
                <li class="circle"></li>
                <li class="circle"></li>
                <li class="circle"></li>
                <li class="circle"></li>
                <li class="circle"></li>
              </ul>
            </div>
            <div class="weekly_disclosure">
              <span th:text="${weekly.status}"></span>
              <!--  -->
              <span id="disclosure_checked" th:if="${weekly.status == 'ALL'}">
                <img src="/image/weekly/icon/view-n.png" alt="공개">
              </span>
              <span th:if="${weekly.status == 'ME'}">
                <img src="/image/weekly/icon/hide-n.png" alt="비공개">
              </span>
              <span th:if="${weekly.status == 'FOLLOW'}">
                <img src="/image/weekly/icon/people-n.png" alt="친구공개">
              </span>
              <!-- <span><img src="/image/weekly/icon/view-n.png" alt="공개"></span>
              <span><img src="/image/weekly/icon/hide-n.png" alt="비공개"></span>
              <span class=""><img src="/image/weekly/icon/people-n.png" alt="친구공개"></span> -->
            </div>
          </div>
        </div>
      </div>
    </article>
    <!-- 홀수 레이아웃 -->
    <div class="shortBox_odd">
      <div class="shortBox">
        <div class="dateBox">
          <div>
            <!-- 날짜 집어넣기 -->
            <span>10.24</span>
            <h1 class="travelDay_odd">01</h1>
            <!-- 여행일 수 만큼 홀수 변수로 들어가게됨  -->
          </div>
        </div>
        <div class="keywordBox">
          <span>&#x2004;키워드 입력&#x2004;</span>
        </div>
        <div class="moreBox">
          <a href="daily.html">more</a>
        </div>
      </div>
      <div class="longBox">
        <a href="http://localhost:8080/TravelCarrier/weekly/26/daily">
          <div class="plusBox w-rectL">
            <div class="plus_big">
              <span></span>
              <span></span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- 짝수 레이아웃 -->
    <div class="shortBox_even">
      <div class="shortBox">
        <div class="moreBox">
          <a href="#none">more</a>
        </div>
        <div class="keywordBox">
          <!-- 키워드가 들어왔을 때 디자인 하기 -->
          <ul>
            <li>여행첫날</li>
            <li>출발</li>
            <li>뱅기에서 13시간</li>
            <li>친절한 택시기사</li>
          </ul>
        </div>
        <div class="dateBox">
          <span>10.25</span>
          <h1 class="travelDay_even">02</h1>
          <!-- 여행일 수 만큼 짝수 변수로 들어가게됨  -->
        </div>
      </div>
      <div class="longBox">
        <a href="#">
          <div class="w-rectW">
            <img src="/image/daily/diary/IMG_6475.JPG" alt="둘쨋날 2번사진">
          </div>
        </a>
      </div>
    </div>
    <!-- 홀수 레이아웃 -->
    <div class="shortBox_odd">
      <div class="shortBox">
        <div class="dateBox">
          <div>
            <!-- 날짜 집어넣기 -->
            <span>10.26</span>
            <h1 class="travelDay_odd">03</h1>
            <!-- 여행일 수 만큼 홀수 변수로 들어가게됨  -->
          </div>
        </div>
        <div class="keywordBox">
          <ul>
            <li>한인마트 털기</li>
            <li>배고파</li>
            <li>도둑아님</li>
            <li>개비쌈</li>
          </ul>
        </div>
        <div class="moreBox">
          <a href="daily.html">more</a>
        </div>
      </div>
      <div class="longBox">
        <a href="#">
          <div class="w-sqr">
            <img src="/image/daily/diary/IMG_6489.JPG" alt="셋째날 3번사진">
          </div>
        </a>
      </div>
    </div>
    <!-- 짝수 레이아웃 -->
    <div class="shortBox_even">
      <div class="shortBox">
        <div class="moreBox">
          <a href="#none">more</a>
        </div>
        <div class="keywordBox">
          <!-- 키워드가 들어왔을 때 디자인 하기 -->
          <ul>
            <li>여행첫날</li>
            <li>출발</li>
            <li>뱅기에서 13시간</li>
            <li>친절한 택시기사</li>
          </ul>
        </div>
        <div class="dateBox">
          <span>10.26</span>
          <h1 class="travelDay_even">04</h1>
          <!-- 여행일 수 만큼 짝수 변수로 들어가게됨  -->
        </div>
      </div>
      <div class="longBox">
        <a href="#">
          <div class="w-rectW">
            <img src="/image/daily/diary/IMG_6757.JPG" alt="둘쨋날 2번사진">
          </div>
        </a>
      </div>
    </div>
    <!-- 홀수 레이아웃 -->
    <div class="shortBox_odd">
      <div class="shortBox">
        <div class="dateBox">
          <div>
            <!-- 날짜 집어넣기 -->
            <span>10.27</span>
            <h1 class="travelDay_odd">05</h1>
            <!-- 여행일 수 만큼 홀수 변수로 들어가게됨  -->
          </div>
        </div>
        <div class="keywordBox">
          <ul>
            <li>한인마트 털기</li>
            <li>배고파</li>
            <li>도둑아님</li>
            <li>개비쌈</li>
          </ul>
        </div>
        <div class="moreBox">
          <a href="daily.html">more</a>
        </div>
      </div>
      <div class="longBox">
        <a href="#">
          <div class="w-rectL">
            <img src="/image/daily/diary/IMG_7422.JPG" alt="셋째날 3번사진">
          </div>
        </a>
      </div>
    </div>
    <!-- 여행일 추가하기-->
    <div class="shortBox_even">
      <div class="shortBox">
        <div class="moreBox">
          <a href="#top">GoToFirst</a>
        </div>
        <div class="keywordBox">
          <!-- 키워드가 들어왔을 때 디자인 하기 -->
          <ul>
            <li>
              <a href="#">메뉴이동</a>
            </li>
            <li>
              <a href="#">메인페이지이동</a>
            </li>
            <li>
              <a href="#">게시판이동</a>
            </li>

          </ul>
        </div>
        <div class="plusBox_end">
          <a href="#">
            <div class="plusBox">
              <div class="plus_big">
                <span></span>
                <span></span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <!-- 키워드 모달 modal -->
    <div class="keyword_modal_bg">
      <div class="keyword_modal">
        <div class="modal_title">
          <h3>키워드 추가</h3>
          <button class="close">
            <i class="xi-close xi-2x"></i>
          </button>
        </div>
        <div class="addKeyword">
          <input type="text" name="keyword" placeholder="키워드를 작성해주세요">
          <div>
            <p>등록된 키워드 <em>(키워드는 최대 9개까지 등록이 가능합니다)</em></p>
            <ul class="keyword_card">
              <li class="card">키워드1
                <span class="card_del"><i class="xi-close"></i></span>
              </li>
              <li class="card">키워드2
                <span class="card_del"><i class="xi-close"></i></span>
              </li>
              <li class="card">키워드3
                <span class="card_del"><i class="xi-close"></i></span>
              </li>
              <li class="card">키워드4
                <span class="card_del"><i class="xi-close"></i></span>
              </li>
              <!-- <li class="card">키워드5
                <span class="card_del"><i class="xi-close"></i></span>
              </li> -->
            </ul>
          </div>
        </div>
        <button type="submit" class="btn">저장하기</button>
      </div>
    </div>
  </main>
  <script>
    $(".keywordBox > span").click(function () {
      $(".keyword_modal_bg").addClass('show');
    })
    $(".close").click(function () {
      $(".keyword_modal_bg").removeClass('show');
    })
  </script>
</body>

</html>