<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:calendars="http://www.thymeleaf.org/extras/spring-time/3.0/calendars">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="headFragment">


  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TravelCarrier!!!</title>

    <!-- XEicon -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/5382a1b723.js" crossorigin="anonymous"></script>

    <!--++++++++++++++// CSS //++++++++++++++++-->
    <!-- 초기화 -->
    <link rel="stylesheet" href="/css/reset.css">

    <!-- 공통 -->
    <link rel="stylesheet" href="/css/common.css">

    <!-- 헤더 -->
    <link rel="stylesheet" href="/css/header.css">

    <!-- 메인화면 -->
    <link rel="stylesheet" href="/css/main.css">

    <!-- 위클리 입력폼 -->
    <link rel="stylesheet" href="/css/weekly_form.css">
    <!-- 위클리 -->
    <link rel="stylesheet" href="/css/weekly.css">

    <!-- 데일리-->
    <link rel="stylesheet" href="/css/daily(modal).css">
    <!-- 데일리 more-->
    <link rel="stylesheet" href="/css/daily_more.css">

    <!-- 로그인-->
    <link rel="stylesheet" href="/css/login.css">

    <!-- 회원가입-->
    <link rel="stylesheet" href="/css/sign_up.css">

    <!-- 마이페이지 -->
    <link rel="stylesheet" href="/css/mypage.css">

    <!-- 미디어쿼리 -->
    <link rel="stylesheet" href="/css/media.css">

    <!--++++++++++++++// 플러그인 //++++++++++++++++-->
    <!-- jquery UI -->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />

    <!-- jquery Script -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>

    <!--소켓통신-->
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>

    <!-- cropper.js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>

    <!-- GSAP -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/Draggable.min.js"></script> -->


    <!-- header script -->
    <script src="/script/common.js"></script>
    <script src="/script/notification.js"></script>
    <script src="/script/alert.js"></script>
  </head>

</th:block>

</html>