<!DOCTYPE html>
<th:block lang="ko" xmlns:th="http://www.thymeleaf.org">
  <!--headerFragment 선언-->
  <th:block th:fragment="headerFragment">

    <header>
      <nav>
        <div class="nav">
          <div class="hamburger on">
            <span></span>
            <span></span>
          </div>
          <div class="logo">
            <a href="index.html">
              <img src="/image/header/logo/journal.png" alt="logo">
            </a>
          </div>
        </div>
        <div class="board_link">
          <a href="">Board</a>
        </div>
        <div class="contact_link">
          <a href="">Contact</a>
        </div>
      </nav>
      <div class="navigation"></div>
    </header>
    <!-- utill 유틸 -->
    <div class="utill_menu">
      <form class="logout" method="get" action="/member/logout" id="logoutForm">
        <button onclick="confirmLogout(event)" type="button">Logout</button>
      </form>

      <div class="notice">
        <img src="/image/header/icon/notification.png" alt="실시간 알림 아이콘">
      </div>
      <div class="profile"  th:if="${user}" th:style="'background-image: url(' + ${user.attachUser.thumbPath} + ')'" ></div>
      <a href="#none"></a>
      </div>
    </div>

  <script>
  function confirmLogout(event) {
    event.preventDefault(); // 폼 제출 방지

    if (confirm("로그아웃하시겠습니까?")) {
      document.getElementById("logoutForm").submit(); // 폼 제출
    }
  }
  </script>

  </th:block>

  </html>