<!DOCTYPE html>
<th:block lang="ko" xmlns:th="http://www.thymeleaf.org">
  <!--headerFragment 선언-->
  <th:block th:fragment="headerFragment">

    <header>
      <nav>
        <div class="nav">

          <!-- <div class="hamburger on">
            <span></span>
            <span></span>
          </div> -->
          <div class="logo">
            <a href="index.html">
              <img src="/image/header/logo/logo.png" alt="logo">
            </a>
          </div>
        </div>
        <div class="board_link">
          <a href="">Board</a>
        </div>
        <div class="contact_link">
          <a href="">Contact</a>
        </div>
      </nav>
      <div class="navigation"></div>
    </header>
    <!-- utill 유틸 -->
    <div class="utill_menu">
      <div class="notice">
        <img src="/image/header/icon/notification.png" alt="실시간 알림 아이콘">
      </div>

      <div class="profile circle" th:if="${user}"
        th:style="'background-image: url(' + (${user.attachUser != null ? user.attachUser.thumbPath : '/image/mypage/default_profile.jpg'}) + ')'">
        <a href="http://localhost:8080/TravelCarrier/member/mypage"></a>
      </div>
      <!-- 새로운 알림창 -->
      <div class="utill_notice">
        <div class="option_notice"></div>
        <div class="update_notice">
          <h6> <i class="xi-angle-right"></i>최근 업데이트</h6>
          <ul>
            <li class="notice_addFriend">
              <div class="notice_profile circle">
                <img src="/image/user/profile/bokyung.jpg" alt="프로필 이미지">
              </div>
              <div class="notice_textbox">
                <p>
                  <a href="#none" class="notice_name">닉네임</a>님이 팔로우를 요청했습니다.
                </p>
                <span class="update_date"><i class="xi-time-o"></i>2023. 05. 23. 17:25</span>
              </div>
              <button class="notice_del">
                <i class="xi-close"></i>
              </button>
            </li>
            <li class="notice_beFriend">
              <div class="notice_profile circle">
                <img src="/image/user/profile/dohyun.jpg" alt="프로필 이미지">
              </div>
              <div class="notice_textbox">
                <p>
                  <a href="#none" class="notice_name">닉네임</a>님이 회원님을 팔로우합니다.
                </p>
                <span class="update_date"><i class="xi-time-o"></i>2023. 05. 23. 17:25</span>
              </div>
              <button class="notice_del">
                <i class="xi-close"></i>
              </button>
            </li>
            <li class="notice_tag">
              <div class="notice_profile circle">
                <img src="/image/user/profile/jjang.jpg" alt="프로필 이미지">
              </div>
              <div class="notice_textbox">
                <p>
                  <a href="#none" class="notice_name">닉네임</a>님이 <a href="#none" class="notice_writing">유럽여행</a>에 회원님을
                  태그했습니다.
                </p>
                <span class=" update_date"><i class="xi-time-o"></i>2023. 05. 23. 17:25</span>
              </div>
              <button class="notice_del">
                <i class="xi-close"></i>
              </button>
            </li>
            <li class="notice_comment">
              <div class="notice_profile circle">
                <img src="/image/user/profile/seohyun.jpg" alt="프로필 이미지">
              </div>
              <div class="notice_textbox">
                <p>
                  <a href="#none" class="notice_name">닉네임</a>님이 <a href="#none" class="notice_writing">유럽여행</a> 글에 댓글을
                  남겼습니다.
                </p>
                <span class=" update_date"><i class="xi-time-o"></i>2023. 05. 23. 17:25</span>
              </div>
              <button class="notice_del">
                <i class="xi-close"></i>
              </button>
            </li>
            <li class="notice_recomment">
              <div class="notice_profile circle">
                <img src="/image/user/profile/human.jpg" alt="프로필 이미지">
              </div>
              <div class="notice_textbox">
                <p>
                  <a href="#none" class="notice_name">닉네임</a>님이 <a href="#none" class="notice_writing">유럽여행</a> 댓글에 답댓글을
                  남겼습니다.
                </p>
                <span class=" update_date"><i class="xi-time-o"></i>2023. 05. 23. 17:25</span>
              </div>
              <button class="notice_del">
                <i class="xi-close"></i>
              </button>
            </li>
            <li class="notice_addFriend">
              <div class="notice_profile circle">
                <img src="/image/user/profile/bokyung.jpg" alt="프로필 이미지">
              </div>
              <div class="notice_textbox">
                <p>
                  <a href="#none" class="notice_name">닉네임</a>님이 팔로우를 요청했습니다.
                </p>
                <span class="update_date"><i class="xi-time-o"></i>2023. 05. 23. 17:25</span>
              </div>
              <button class="notice_del">
                <i class="xi-close"></i>
              </button>
            </li>
            <li class="notice_beFriend">
              <div class="notice_profile circle">
                <img src="/image/user/profile/dohyun.jpg" alt="프로필 이미지">
              </div>
              <div class="notice_textbox">
                <p>
                  <a href="#none" class="notice_name">닉네임</a>님이 회원님을 팔로우합니다.
                </p>
                <span class="update_date"><i class="xi-time-o"></i>2023. 05. 23. 17:25</span>
              </div>
              <button class="notice_del">
                <i class="xi-close"></i>
              </button>
            </li>
            <li class="notice_tag">
              <div class="notice_profile circle">
                <img src="/image/user/profile/jjang.jpg" alt="프로필 이미지">
              </div>
              <div class="notice_textbox">
                <p>
                  <a href="#none" class="notice_name">닉네임</a>님이 <a href="#none" class="notice_writing">유럽여행</a>에 회원님을
                  태그했습니다.
                </p>
                <span class=" update_date"><i class="xi-time-o"></i>2023. 05. 23. 17:25</span>
              </div>
              <button class="notice_del">
                <i class="xi-close"></i>
              </button>
            </li>
            <li class="notice_comment">
              <div class="notice_profile circle">
                <img src="/image/user/profile/seohyun.jpg" alt="프로필 이미지">
              </div>
              <div class="notice_textbox">
                <p>
                  <a href="#none" class="notice_name">닉네임</a>님이 <a href="#none" class="notice_writing">유럽여행</a> 글에 댓글을
                  남겼습니다.
                </p>
                <span class=" update_date"><i class="xi-time-o"></i>2023. 05. 23. 17:25</span>
              </div>
              <button class="notice_del">
                <i class="xi-close"></i>
              </button>
            </li>
            <li class="notice_recomment">
              <div class="notice_profile circle">
                <img src="/image/user/profile/human.jpg" alt="프로필 이미지">
              </div>
              <div class="notice_textbox">
                <p>
                  <a href="#none" class="notice_name">닉네임</a>님이 <a href="#none" class="notice_writing">유럽여행</a> 댓글에 답댓글을
                  남겼습니다.
                </p>
                <span class=" update_date"><i class="xi-time-o"></i>2023. 05. 23. 17:25</span>
              </div>
              <button class="notice_del">
                <i class="xi-close"></i>
              </button>
            </li>
          </ul>
        </div>
      </div>
      <!-- 개인설정 메뉴 -->
      <div class="user_menu">
        <ul>
          <li>
            <a href="#">
              <span>
                <i class="fa-solid fa-user"></i>프로필</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>
                <i class="fa-regular fa-address-card"></i>계정 정보</span>
            </a>
          </li>
          <li>
            <form class="logout" method="get" action="/logout/action" id="logoutForm">
              <span onclick="confirmLogout(event)" type="button">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>로그아웃</span>
            </form>
          </li>
        </ul>
      </div>
    </div>



    <script>
      function confirmLogout(event) {
        event.preventDefault(); // 폼 제출 방지

        if (confirm("로그아웃하시겠습니까?")) {
          document.getElementById("logoutForm").submit(); // 폼 제출
        }
      }
    </script>

  </th:block>

  </html>