/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap");

/* NanumSquareNeo */
@font-face {
  font-family: "NanumSquareNeo";
  src: url("../font/NanumSquareNeoTTF-aLt.woff") format("woff2");
  font-weight: 100;
}
@font-face {
  font-family: "NanumSquareNeo";
  src: url("../font/NanumSquareNeoTTF-bRg.woff") format("woff2");
  font-weight: 200;
}
@font-face {
  font-family: "NanumSquareNeo";
  src: url("../font/NanumSquareNeoTTF-cBd.woff") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "NanumSquareNeo";
  src: url("../font/NanumSquareNeoTTF-dEb.woff") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "NanumSquareNeo";
  src: url("../font/NanumSquareNeoTTF-eHv.woff") format("woff2");
  font-weight: 500;
}

/* color */
/* color: #525d76; */
/* color: #353a52; */
/* color:#a0c1ca  button*/
/* color: #f7f7f7 */
/* background: #efeee9; */
/* point-color: #ff931c */

/*
common--------------------------------------------- */
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background: #efeee9;
  font-family: "Signika Negative", sans-serif;
  /* color: #525d76; */
  font-size: 100%;
  color: #353a52;
  -ms-overflow-style: none;
  overflow: hidden;
}
body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  position: relative;
}
body::-webkit-scrollbar {
  display: none;
}
main {
  font-family: "NanumSquareNeo";
  width: 100%;
  height: 100%;
  margin-left: 3.2rem; /*header너비*/
}
/* input Ui */
input,
textarea,
select,
button {
  font-family: "NanumSquareNeo";
  width: 100%;
  background: #f7f7f7;
  font-size: 0.9rem;
  font-weight: 300;
  padding: 1rem;
  border: none;
  border-radius: 0.2rem;
  box-sizing: border-box;
  color: #353a52;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
textarea{
  resize: none;
  overflow: visible;
  line-height: 1.5em;
}
/* input hide */
input.hide {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  position: absolute;
}
/* button UI */
button.btn {
  width: 11vw;
  padding: 0.85rem;
  font-weight: 300;
  color: #f7f7f7;
  background: #a0c1ca;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  font-family: "NanumSquareNeo";
  letter-spacing: 0.05rem;
}
button.white_btn {
  padding: 0.85rem;
  color: #a0c1ca;
  background: #efeee9;
  border: 1px solid #a0c1ca;
}
button > img {
  vertical-align: text-bottom;
}

/* 원형 자르기 */
.circle {
  width: 100%;
  max-width: 100%;
  border-radius: 100%;
  position: relative;
  box-sizing: border-box;
}
.circle:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
/* form > h3 */
form h3 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.8rem;
}

.modal_title h3 {
  text-align: center;
  font-size: 1.2rem;
  margin: 0;
}

/* modal - title/close btn UI */
.modal_title button.close {
  width: fit-content;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  color: rgb(53, 58, 82, 0.2);
  transition: 0.1s;
}
.modal_title button.close:hover{
  color: #353a52;
}