/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap");

/* Nunnu Font */
@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* XEION CDN */
@import url("http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");

/* color */
/* color: #525d76; */
/* color: #353a52; */
/* color:#a0c1ca  button*/
/* color: #f7f7f7 */

/* 
common--------------------------------------------- */
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background: #efeee9;
  font-family: "Signika Negative", sans-serif;
  /* color: #525d76; */
  color: #353a52;
  -ms-overflow-style: none;
  font-weight: 400;
}
body {
  padding: 0 0% 0 0.78%;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  position: relative;
}
body::-webkit-scrollbar {
  display: none;
}
main {
  font-family: "NanumSquareNeo-Variable";
}
/* input Ui */
input,
textarea,
select,
button {
  font-family: "NanumSquareNeo-Variable";
}
/* button UI */
button.btn {
  width: calc(11 * 1rem);
  padding: 0.8rem;
  font-weight: 500;
  color: #f7f7f7;
  background: #a0c1ca;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  font-family: "NanumSquareNeo-Variable";
  letter-spacing: 0.05rem;
}
button.white_btn {
  padding: 0.9rem;
  color: #a0c1ca;
  background: #efeee9;
  border: 1px solid #a0c1ca;
  font-size: 0.7rem;
}
button > img {
  vertical-align: text-bottom;
}
