/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap");

/* NanumSquareNeo */
@font-face {
  font-family: "NanumSquareNeo";
  src: url("../font/NanumSquareNeoTTF-aLt.woff") format("woff2");
  font-weight: 100;
}
@font-face {
  font-family: "NanumSquareNeo";
  src: url("../font/NanumSquareNeoTTF-bRg.woff") format("woff2");
  font-weight: 200;
}
@font-face {
  font-family: "NanumSquareNeo";
  src: url("../font/NanumSquareNeoTTF-cBd.woff") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "NanumSquareNeo";
  src: url("../font/NanumSquareNeoTTF-dEb.woff") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "NanumSquareNeo";
  src: url("../font/NanumSquareNeoTTF-eHv.woff") format("woff2");
  font-weight: 500;
}

/* color */
/* color: #525d76; */
/* color: #353a52; */
/* color:#a0c1ca  button*/
/* color: #f7f7f7 */
/* background: #efeee9; */
/* point-color: #ff931c */

/*
common--------------------------------------------- */
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background: #efeee9;
  /* font-family: "Signika Negative", sans-serif; */
  font-family: "NanumSquareNeo";
  /* color: #525d76; */
  font-size: 100%;
  color: #353a52;
  -ms-overflow-style: none;
  overflow: hidden;
  display: block;
}
body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  position: relative;
}
body::-webkit-scrollbar {
  display: none;
}
main:not(#start_page):not(#signUp) {
  font-family: "NanumSquareNeo";
  width: 100%;
  height: 100%;
  margin-left: 3.2rem; /*header너비*/
}
/* input Ui */
input,
textarea,
select,
button {
  font-family: "NanumSquareNeo";
  width: 100%;
  background: #f7f7f7;
  font-size: 0.9rem;
  font-weight: 300;
  padding: 1em;
  border: none;
  border-radius: 0.4rem;
  box-sizing: border-box;
  color: #353a52;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
textarea {
  resize: none;
  overflow: visible;
  line-height: 1.5em;
  box-sizing: border-box;
}
.login form div input:-webkit-autofill,
.login form div input:-webkit-autofill:hover,
.login form div input:-webkit-autofill:focus,
.login form div input:-webkit-autofill:active,
.addKeyword input:-webkit-autofill,
.addKeyword input:-webkit-autofill:hover,
.addKeyword input:-webkit-autofill:focus,
.addKeyword input:-webkit-autofill:active {
  -webkit-text-fill-color: #353a52;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}
/* 
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #f7f7f7; /*폰트컬러
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
} */

/* input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
} */

/* input hide */
input.hide {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  position: absolute;
}
/* button UI */
button {
  cursor: pointer;
  transition: 0.2s;
}
button.btn {
  width: 11rem;
  padding: 0.85rem;
  font-weight: 300;
  color: #f7f7f7;
  background: #a0c1ca;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  font-family: "NanumSquareNeo";
  letter-spacing: 0.05rem;
  transition: 0.2s;
}
button.btn:hover {
  background: #525d76;
}
button.white_btn {
  padding: 0.85rem;
  color: #a0c1ca;
  background: #efeee9;
  border: 1px solid #a0c1ca;
}
button > img {
  vertical-align: text-bottom;
}
/* fontawesome */
.fa {
  display: inline-block;
  margin-right: 0.7em;
}
/* 원형 자르기 */
.circle {
  width: 100%;
  max-width: 100%;
  border-radius: 100%;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}
.circle:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
/* form > h3 */
form h3 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.8rem;
}
.modal_title {
  width: 100%;
  box-sizing: border-box;
  padding: 1.5rem 0.5rem;
  height: 4.2rem; /*font-size + padding*/
  position: relative;
  border-bottom: 1px solid #b3b3b3;
}
.modal_title h3 {
  text-align: center;
  font-size: 1.2rem;
  margin: 0;
}

/* modal - title/close btn UI */
.modal_title button.close {
  width: fit-content;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  color: rgb(53, 58, 82, 0.2);
  transition: 0.1s;
}
.modal_title button.close:hover {
  color: #353a52;
}
/* 아이콘 배경 어둡게 설정(프로필 편집 & 데일리 이미지삭제) */
.icon_bg::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.icon_bg_dark::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}
/* daypicker-css 수정 */
#ui-datepicker-div {
  padding: 0;
  font-family: "NanumSquareNeo";
  display: none;
  width: fit-content;
}
#ui-datepicker-div.ui-datepicker .ui-datepicker-title {
  line-height: 0em;
}
#ui-datepicker-div select {
  padding: 0;
  background: transparent;
  color: #f7f7f7;
}
#ui-datepicker-div select.ui-datepicker-month {
  width: 30%;
}
#ui-datepicker-div select.ui-datepicker-year {
  width: 37%;
  margin-right: 0.2rem;
}
#ui-datepicker-div select option {
  color: #353a52;
}
#ui-datepicker-div.ui-widget-content {
  background: #f7f7f7;
  color: #353a52;
  border: 1px solid #353a5245;
}
#ui-datepicker-div .ui-widget-header {
  background: #353a52;
  border-radius: 0;
  padding: 0.5rem 0;
}
#ui-datepicker-div .ui-widget-header .ui-icon {
  background-image: url(../image/mypage/icon/btns.png);
  background-size: cover;
}
#ui-datepicker-div .ui-widget-header .ui-icon.ui-icon-circle-triangle-w {
  background-position: 0px 0;
}
#ui-datepicker-div .ui-widget-header .ui-icon.ui-icon-circle-triangle-e {
  background-position: -13px 0px;
}
#ui-datepicker-div .ui-state-hover {
  background: #f7f7f720;
  border: 1px solid transparent;
}
#ui-datepicker-div.ui-datepicker .ui-datepicker-next,
#ui-datepicker-div.ui-datepicker .ui-datepicker-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1.8em;
  height: 1.8em;
}
#ui-datepicker-div .ui-datepicker-calendar th {
  padding: 0.6em 0.5em;
  font-size: 0.9rem;
  font-weight: normal;
  border-bottom: 1px solid #353a52;
}
#ui-datepicker-div .ui-state-default,
#ui-datepicker-div .ui-widget-content .ui-state-default,
#ui-datepicker-div .ui-widget-header .ui-state-default {
  border: 0;
  background: transparent;
  color: #353a52;
}
#ui-datepicker-div.ui-datepicker td span,
#ui-datepicker-div.ui-datepicker td a {
  padding: 0.8rem 0.4rem;
  text-align: center;
  font-weight: normal;
}
#ui-datepicker-div.ui-datepicker td a:hover {
  background: rgb(160, 193, 202, 0.4);
}

#ui-datepicker-div.ui-datepicker .ui-state-highlight {
  background: rgb(160, 193, 202, 0.4);
}
