main.daily {
}
/* common------------------------------------------ */
/* writing icon UI */
.daily .circle {
  width: 6.5rem;
  cursor: pointer;
}
.daily .circle img {
  width: 50%;
  height: auto;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 사각형 */
.square {
  height: 20rem;
  border-radius: 1em;
  overflow: hidden;
  object-fit: cover;
  box-shadow: 1px 01px 5px 0.1px #b3b3b3;
}
.sqr {
  width: 20rem;
}
.rectW {
  width: 30rem;
}
.rectL {
  width: 15rem;
}

/* daily 시작화면----------------------------------- */
.diary_titlebox {
}
.daily_start {
  /* display: none; 삭제 */
  width: 100%;
  height: 100%;
  position: relative;
}
.daily_start > div {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.sdaily_text {
  text-align: center;
  top: 22%;
}
.sdaily_text p {
  padding: 0.5em 0;
  font-size: 0.9rem;

  letter-spacing: 0.05rem;
  color: #525d76;
}
.sdaily_text p b {
  color: #a0c1ca;
}
.daily_start .writing {
  top: 40%;
  text-align: center;
  cursor: pointer;
}
.writing .circle {
  width: 7rem;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #a0c1ca;
}
.writing span {
  display: block;
  padding-top: 50%;
  font-weight: 70;
}

/* daily-form 데일리 입력 폼/ 팝업 */
#daily_form {
  display: none; /*삭제*/
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
}
#daily_form.show {
  opacity: 100%;
  visibility: visible;
}
.daily_form_popoup {
}
.daily_imgs {
  float: left;
}

/* 일기화면(호버전) */
.diary_noH {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: end;
  position: relative;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.diary_noH h1 {
  font-size: calc(100vh / 5);
  margin-bottom: 0.15em;
  padding-right: 0.05em;
  font-weight: 700;
}
.diary_noH p {
  font-size: calc(100vh / 10);
  padding-right: 0.1em;
}
.diary_slides {
  height: 20rem;
  overflow: hidden;
}
.diary_slide {
  width: 120%;
}
ul.diary_slide > li {
  float: left;
  margin: 0 0.5rem;
  cursor: pointer;
  position: absolute;
}
.diary_slide img {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: contain;
}
.diary_noH .circle {
  max-width: 100%;
  position: absolute;
  bottom: 2%;
  right: 1%;
  z-index: 100;
  background-color: rgba(214, 212, 212, 0.7);
  transition: 0.5s;
}
.diary_noH .circle img {
  width: 45%;
}
.diary_noH .circle:hover {
  background-color: rgba(160, 193, 202, 0.9);
}
