main.daily {
}
/* common------------------------------------------ */
/* writing icon UI */
.daily .circle {
  width: 6.5rem;
  cursor: pointer;
}
.daily .circle img {
  width: 50%;
  height: auto;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 사각형 */
.square {
  height: 20rem;
  border-radius: 1rem;
  overflow: hidden;
  object-fit: cover;
  box-shadow: 1px 01px 5px 0.1px #b3b3b3;
}
.sqr {
  width: 20rem;
}
.rectW {
  width: 30rem;
}
.rectL {
  width: 15rem;
}

/* daily 시작화면----------------------------------- */
.diary_titlebox {
}
.Dform_title {
  width: 100%;
  border-bottom: 1px solid #b3b3b3;
  box-sizing: border-box;
  padding: 1.5rem 0.5rem;
  position: relative;
}
.Dform_title h3 {
  text-align: center;
  font-size: 1.2rem;
  margin: 0;
}
.Dform_title button.close {
  width: fit-content;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  top: 30%;
  right: 1.5rem;
  color: #b3b3b3;
}
/* 데일리 시작화면-------------------------------------------------- */
.daily_start {
  /* display: none; 삭제 */
  width: 100%;
  height: 100%;
  position: relative;
}
.daily_start > div {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.sdaily_text {
  text-align: center;
  top: 22%;
}
.sdaily_text p {
  padding: 0.5rem 0;
  font-size: 0.9rem;
  font-weight: 200;
  letter-spacing: 0.05rem;
  color: #525d76;
}
.sdaily_text p b {
  color: #a0c1ca;
}
.daily_start .writing {
  top: 40%;
  text-align: center;
  cursor: pointer;
}
.writing .circle {
  width: 7rem;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #a0c1ca;
}
.writing span {
  display: block;
  padding-top: 50%;
  font-weight: 300;
}

/* daily-form 데일리 입력 폼/ 모달--------------------------------------- */
.daily_form_bg {
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
  z-index: 100;
}
.daily_form_bg.show {
  opacity: 100;
  visibility: visible;
}
#daily_form {
  width: 85%;
  height: 90%;
  border-radius: 1rem;
  margin-left: 1.5vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #efeee9;
  z-index: 101;
}
#daily_form.show {
  opacity: 100%;
  visibility: visible;
}
.Dform {
  width: 100%;
  height: 93%;
  padding: 4% 8% 5% 8%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.Dform_imgs {
  width: 45%;
  height: auto;
  float: left;
  background: #000;
  box-sizing: border-box;
  color: #efeee9;
  border-radius: 0.8rem;
  overflow: hidden;
}
.Dform_imgs P {
  font-size: 0.9rem;
  padding: 3% 3.5%;
  opacity: 50%;
  font-weight: 100;
}
ul.Dform_imglist {
  width: 100%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  padding: 0 0% 0 3.5%;
  box-sizing: border-box;
}
/* 스크롤바 디자인 */
ul.Dform_imglist::-webkit-scrollbar {
  width: 0.3rem;
}
ul.Dform_imglist::-webkit-scrollbar-thumb {
  background: rgb(239, 238, 233, 0.5);
  border-radius: 10px;
}
ul.Dform_imglist li {
  position: relative;
  width: 30%;
  height: 0;
  overflow: hidden;
  padding-bottom: 30%;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  margin: 0 3% 3% 0;
  border-radius: 0.25rem;
}
ul.Dform_imglist li img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 대표이미지 */
li#main::after {
  content: "대표";
  width: 32%;
  text-align: center;
  padding: 0.4rem;
  box-sizing: border-box;
  height: auto;
  position: absolute;
  background: #ff931c;
  letter-spacing: 0.1em;
  font-size: 0.8rem;
  font-weight: 200;
  color: #ffffff;
}
/*  선택이미지 */
li.clickImg {
  border: 1px solid #fff;
  box-sizing: border-box;
}

li.clickImg:after {
  content: "쓰레기통";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(0, 0, 0, 0.5);
  text-align: center;
  box-sizing: border-box;
  padding-top: 45%;
}

/* 이미지 추가하기 버튼 */
ul.Dform_imglist li label {
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s;
}
ul.Dform_imglist li label:hover {
  background: rgba(255, 255, 255, 0.4);
}
ul.Dform_imglist label i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
ul.Dform_imglist label:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  border: 1px solid rgb(255, 255, 255, 0.5);
  width: 50%;
  height: 50%;
}
input[type="file"]#moreImg {
  background: #fff;
  border: 1px solid red;
  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.Dform_input {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Dform_input > div > h3 {
  margin-bottom: 0.4rem;
}
/* days 스크롤 */
div.daily_days {
  width: 100%;
  height: auto;
  overflow: auto;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: relative;
}
div.daily_days::-webkit-scrollbar {
  display: none;
}
/* day 탭메뉴 */
ul.days_tabSlide {
  width: 100%;
  display: flex;
  margin-bottom: 0.5rem;
}

ul.days_tabSlide li.Dtab {
}
ul.days_tabSlide li.Dtab span {
  cursor: pointer;
  display: block;
  font-size: 1rem;
  padding: 0 2rem 0.5rem 2rem;
  font-weight: 500;
  border-bottom: 3px solid #b3b3b33d;
}
ul.days_tabSlide li.Dtab .Dtab {
  cursor: pointer;
  display: inline-block;
}
ul.days_tabSlide li.Dtab span.on {
  border-bottom: 3px solid #a0c1ca;
}
/* input */
.Dform input,
.Dform textarea {
  /* border: 0.1px solid #b3b3b3; */
  box-shadow: 0 0 1px 0.05px rgb(179, 179, 179, 0.5);
}
/* 이미지 경로 */
div.filePath {
  width: 100%;
  margin-bottom: 0.6rem;
}
div.filePath p {
  width: 100%;
  box-sizing: border-box;
  padding: 0.8rem 1rem 0.5rem 1rem;
  background: rgba(179, 179, 179, 0.3);
  font-weight: 200;
  border-radius: 0.2rem;
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
div.filePath p img {
  width: 3%;
  max-width: 100%;
  height: auto;
  opacity: 0.2;
  cursor: pointer;
  vertical-align: middle;
  float: right;
  transition: 0.2s;
}
div.filePath p img:hover {
  opacity: 0.5;
}
/* 대표이미지 설정 */
input#mainImgSet[type="radio"] {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: none;
  position: absolute;
}
.daily_files input[type="radio"] + label {
  display: inline-block;
  position: relative;
  font-size: 0.9rem;
  font-weight: 300;
  cursor: pointer;
}
.daily_files b {
  font-size: 0.8em;
  font-weight: 200;
}
.daily_files input[type="radio"] + label:before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin: -2px 5px 0 0;
  text-align: center;
  vertical-align: middle;
  border-radius: 0.1rem;
  box-shadow: 0 0 1px #b3b3b3;
  background: #f7f7f7;
}
.daily_files input[type="radio"]:checked + label:before {
  content: "\2714";
  color: #f7f7f7;
  background: #ff931c;
  padding: 0.1em 0 0 0;
}
/* 작성화면버튼 */
.Dform_btn {
  width: fit-content;
  align-self: flex-end;
}
button.Dform_btn_del {
  background: none;
  color: #525d76;
  transition: 0.2s;
}
button.Dform_btn_del:hover {
  color: red;
}
/* 일기화면(호버전)--------------------*/
.diary_noH {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: end;
  position: relative;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.diary_noH h1 {
  font-size: calc(100vh / 5);
  margin-bottom: 0.2rem;
  padding-right: 0.05rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}
.diary_noH p {
  font-size: calc(100vh / 12);
  padding-right: 0.1rem;
}
.diary_slides {
  height: 20rem;
  overflow: hidden;
}
.diary_slide {
  width: 120%;
}
ul.diary_slide > li {
  float: left;
  margin: 0 0.5rem;
  cursor: pointer;
  position: absolute;
}
.diary_slide img {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: contain;
}
.diary_noH .circle {
  max-width: 100%;
  position: absolute;
  bottom: 2%;
  right: 1%;
  z-index: 100;
  background-color: rgba(214, 212, 212, 0.7);
  transition: 0.5s;
}
.diary_noH .circle img {
  width: 45%;
}
.diary_noH .circle:hover {
  background-color: rgba(160, 193, 202, 0.9);
}
