/* header--------------------------------------------- */
header {
  width: 3.2rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 0.7rem 0.8rem;
  box-sizing: border-box;
  background: #efeee9;
  border-right: 1.5px solid rgb(82, 93, 118, 0.5);
}
header > nav {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding-top: 5px;
  box-sizing: border-box;
  background: #efeee9;
}
.nav {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hamburger {
  width: 100%;
  height: 30px;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  margin-bottom: 50%;
}
.hamburger span {
  width: 100%;
  height: 8%;
  background: #525d76;
  display: block;
  border-radius: 5px;
  position: absolute;
}
.hamburger span:nth-child(1) {
  top: 30%;
  transition: 0.3s;
}
.hamburger span:nth-child(2) {
  bottom: 30%;
  transition: 0.3s;
}
/* 햄버거 버튼 호버시 변환 on추가예정*/
.hamburger:hover span:nth-child(1) {
  top: 50%;
  /* transform: translateY(-50%) rotate(-20deg); */
  transform: translateY(-50%) rotate(-20deg);
}
.hamburger:hover span:nth-child(2) {
  bottom: 50%;
  transform: translateY(50%) rotate(20deg);
  /* transform: translateY(-50%) rotate(20deg); */
}
/* 로고 */
.logo {
}
.logo img {
  width: 100%;
  height: 100%;
}
.board_link,
.contact_link {
  display: flex;
  width: 100%;
  height: 8%;
  justify-content: center;
  align-items: center;
}
.contact_link {
}
.board_link > a {
  display: block;
  padding: 0% 30% 0 30%;
  box-sizing: border-box;
  transform: rotate(-90deg);
}

.contact_link > a {
  display: block;
  padding: 0% 30% 0 30%;
  box-sizing: border-box;
  transform: rotate(-90deg);
}

/* 유틸메뉴---------------------------------------- */
.utill_menu {
  width: fit-content;
  height: auto;
  position: absolute;
  right: 0.8rem;
  top: 0.7rem;
  display: flex;
  z-index: 100;
  justify-content: space-between;
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}
.utill_menu.hide {
  opacity: 0;
  visibility: hidden;
}
.notice,
.profile {
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 100%;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  box-shadow: 1px 1px 2px rgba(53, 58, 82, 0.2);
}
.notice {
  background-color: rgb(255, 255, 255, 0.3);
  cursor: pointer;
  transition: 0.2s;
}
/* .notice:after {
  content: "";
  display: block;
  padding-bottom: 100%;
} */
.notice.active:after {
  content: "";
  display: inline-block;
  position: absolute;
  right: -2px;
  top: 1px;
  width: calc(2.7rem / 2.8);
  height: calc(2.7rem / 2.8);
  background: #a0c1ca;
  border-radius: 100%;
  /* 새로운 알림이 있을 때 적용, 삭제 */
}
.notice img {
  max-width: 100%;
  height: auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.profile {
  box-shadow: 1px 1px 2px rgba(53, 58, 82, 0.2);
  margin-left: 1rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
.profile > a {
  display: block;
  width: 100%;
  height: 100%;
}
.profile > a > img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.user_menu {
  width: 10rem;
  height: 9rem;
  position: absolute;
  top: 100%;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
  margin-top: 0.6rem;
  z-index: 150;
}
.user_menu.on {
  visibility: visible;
  opacity: 1;
}
.user_menu ul {
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: 300;
}
.user_menu > ul > li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
  height: 3rem;
}
.user_menu > ul > li:hover {
  background: rgba(255, 255, 255, 0.05);
}
.user_menu > ul > li:last-child {
  border-bottom: 0px solid #000;
}
.user_menu > ul > li a,
.user_menu > ul > li form {
  display: inline-block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f7f7f7;
  font-weight: 100;
  font-size: 0.8rem;
}
.user_menu > ul > li i {
  display: inline-block;
  margin-right: 1em;
  color: rgb(247, 247, 247, 0.8);
  font-size: 0.6em;
}
.user_menu > ul > li form span {
  display: inline-block;
  vertical-align: middle;
  padding: 1rem 0;
  width: 100%;
}
.user_menu > ul > li span {
}

/* 실시간 알림--------------------------------------------------- */
.utill_notice {
  width: 22vw;
  height: calc(100% - 6rem);
  position: fixed;
  top: 4rem;
  right: -22vw;
  box-sizing: border-box;
  z-index: 50;
  background-color: rgb(247, 247, 247, 0.95);
  backdrop-filter: blur(10px);
  font-family: "NanumSquareNeo";
  font-weight: 200;
  font-size: 0.9rem;
  color: #353a52;
  letter-spacing: 0.05em;
  line-height: 1.2em;
  transition: 0.5s;
  border-radius: 1rem;
  z-index: 101;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.utill_notice.show {
  right: 0.5rem;
  transition: 0.5s;
}
.update_notice {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}
.notice_del i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.update_notice h6 {
  height: 3.5rem;
  font-weight: 400;
  padding: 1.75rem 1rem 1.75rem 1rem;
  box-sizing: border-box;
}
.update_notice h6 i {
  cursor: pointer;
  padding: 0 0rem 0 0;
  vertical-align: middle;
}

.update_notice ul {
  width: 100%;
  height: calc(100% - 3.5rem);
  overflow-y: unset;
  overflow-x: hidden;
  box-sizing: border-box;
}

/* 스크롤바 디자인 */
.update_notice ul::-webkit-scrollbar-track {
  background: #d7d7d75b;
}
.update_notice ul::-webkit-scrollbar {
  width: 0.4rem;
}
.update_notice ul::-webkit-scrollbar-thumb {
  background: rgba(53, 58, 82, 0.2);
  border-radius: 10px;
}
/* 스크롤바 버튼부분 여백으로 만들기(하)*/
.update_notice ul::-webkit-scrollbar-button:vertical:end:decrement {
  display: block;
  width: 1rem;
}
.update_notice ul li {
  border-bottom: 1px solid rgb(53, 58, 82, 0.1);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 2.5rem auto 0.5rem;
  grid-template-areas:
    "profile textbox del"
    "profile textbox del"
    "profile date del";
  padding: 1.5rem 1.1rem 1.5rem 1.1rem;
  position: relative;
}
.update_notice ul li:hover {
  background: rgb(53, 58, 82, 0.05);
}
.update_notice h6 {
  border-bottom: 1px solid rgb(53, 58, 82, 0.2);
}
.notice_profile {
  width: 2.5rem;
  height: 2.5rem;
  grid-area: profile;
  box-shadow: 1px 1px 4px rgba(53, 58, 82, 0.508);
}
.notice_profile img {
  width: 100%;
  height: 100%;
  max-width: 100%;
}
.notice_textbox {
  grid-area: textbox;
  padding: 0rem 0.5rem;
}
.notice_textbox p {
}
.notice_textbox p a.notice_name {
  color: #525d76;
  font-weight: 400;
  transition: 0.1s; /*삭제 전체에 트렌지션 주기;*/
}
.notice_textbox p a.notice_writing {
  color: #ff931c;
  font-weight: 400;
  transition: 0.1s;
}
.notice_textbox p a:hover {
  background-color: #efeee9;
}
.notice_textbox span.update_date {
  display: block;
  grid-area: date;
  font-size: 0.7rem;
  color: #b3b3b3;
  margin-top: 1em;
  font-weight: 200;
}
.notice_textbox span.update_date i {
  vertical-align: middle;
}
.notice_del {
  grid-area: del;
  cursor: pointer;
  position: absolute;
  bottom: 90%;
  right: 0;
  padding: 0;
}

/* 확인용 알림창=================================== */
#alert_modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  z-index: 150;
}
#alert_modal.show {
  opacity: 1;
  visibility: visible;
}
.alert {
  width: 27%;
  height: fit-content;
  background: #efeee9;
  box-sizing: border-box;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0.4rem;
  overflow: hidden;
}
#alert_modal.show .alert {
  animation-name: alertCome;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

/*안내용알림창*/
#alert_modal2 {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  z-index: 150;
}
#alert_modal2.show {
  opacity: 1;
  visibility: visible;
}
#alert_modal2.show .alert {
  animation-name: alertCome;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes alertCome {
  0% {
    top: -50%;
    opacity: 0;
  }
  100% {
    top: 3%;
    opacity: 1;
  }
}
.alert_textbox {
  box-sizing: border-box;
  margin-top: 1rem;
}
.alert .alert_textbox p {
  width: 100%;
  text-align: center;
}
.alert .alert_textbox p:nth-child(2) {
  padding: 2rem 0 2.5rem 0;
}
.alert .alert_textbox p:nth-child(2) span {
  color: #c40303;
}
.alert .alert_textbox p i {
  color: #ff931c;
  vertical-align: bottom;
  opacity: 0.7;
  font-size: 0.8rem;
}

.alert_btnBox {
  width: 100%;
  display: flex;
  border-top: 1px solid #b3b3b3;
}
.alert_btnBox button {
  border-radius: 0;
  background: #efeee9;
  transition: 0.2s;
}
.alert_btnBox button:nth-child(1) {
  border-right: 1px solid #b3b3b3;
}
.alert_btnBox button:nth-child(2) {
}
.alert_btnBox button:nth-child(1):hover {
  background: rgb(53, 58, 82, 0.05);
  color: #353a52;
  font-weight: 400;
}
.alert_btnBox button:nth-child(2):hover {
  background: rgb(53, 58, 82, 0.05);
  color: #c40303;
  font-weight: 400;
}
