/* header--------------------------------------------- */
header {
  width: 1.56%;
  height: 98vh;
  /* (수정) 100% 다른 컴에서도 안되는지 확인 */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 0.78%;
  background: #efeee9;
  border-right: 1.5px solid rgb(82, 93, 118, 0.5);
}
header > nav {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding-top: 5px;
  box-sizing: border-box;
  background: #efeee9;
}
.nav {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hamburger {
  width: 100%;
  height: 30px;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  margin-bottom: 50%;
  background: lightblue;
}
.hamburger span {
  width: 100%;
  height: 8%;
  background: #525d76;
  display: block;
  border-radius: 5px;
  position: absolute;
}
.hamburger span:nth-child(1) {
  top: 30%;
  transition: 0.3s;
}
.hamburger span:nth-child(2) {
  bottom: 30%;
  transition: 0.3s;
}
/* 햄버거 버튼 호버시 변환 on추가예정*/
.hamburger:hover span:nth-child(1) {
  top: 50%;
  /* transform: translateY(-50%) rotate(-20deg); */
  transform: translateY(-50%) rotate(-20deg);
}
.hamburger:hover span:nth-child(2) {
  bottom: 50%;
  transform: translateY(50%) rotate(20deg);
  /* transform: translateY(-50%) rotate(20deg); */
}
/* 로고 */
.logo {
}
.logo img {
  width: 100%;
  height: 100%;
}
.board_link,
.contact_link {
  display: flex;
  width: 100%;
  height: 8%;
  justify-content: center;
  align-items: center;
}
.contact_link {
}
.board_link > a {
  display: block;
  padding: 0% 30% 0 30%;
  box-sizing: border-box;
  transform: rotate(-90deg);
}

.contact_link > a {
  display: block;
  padding: 0% 30% 0 30%;
  box-sizing: border-box;
  transform: rotate(-90deg);
}

/* 유틸메뉴---------------------------------------- */
.utill_menu {
  width: 6%;
  height: auto;
  position: absolute;
  right: 0.78%;
  top: 0.78%;
  display: flex;
  z-index: 100;
  justify-content: space-between;
}
.notice,
.profile {
  width: 44%;
  border-radius: 100%;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}
.notice {
  background-color: rgb(255, 255, 255, 0.2);
  cursor: pointer;
  transition: 0.2s;
}
.notice:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.notice img {
  max-width: 100%;
  height: auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.notice:hover {
  background-color: rgb(255, 255, 255, 0.3);
}
.profile {
  background: url(../image/header/profile.jpg) no-repeat center center;
  background-size: cover;
  box-shadow: 1px 1px 1px rgba(53, 58, 82, 0.2);
}
.profile > a {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
