main {
  width: 100%;
  height: 100%;
  border-left: 1.5px solid #525d76;
  /* margin-left: 0 2.37% 0 2.37%; */
  margin-left: 2.37%;
}

#weekly_form > h1 {
  font-size: 1em;
  font-weight: 600;
  padding: 1.5em 0;
  text-align: center;
  border-bottom: 1.5px solid #525d76;
  color: #525d76;
}

.weekly_form {
  position: relative;
  height: 75vh;
  margin: 2.5em 10%;
}
.weekly_form > div {
  border-radius: 1em;
  position: relative;
  padding: 2.5rem;
}
/* 썸네일 thumbnail------------------------- */
.thumbnail {
  width: 33%;
  height: auto;
  float: left;
  background: #f7f7f7;
}

.thumbnail_text > h3,
.weekly_input h3 {
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 0.8em;
}
.thumbnail_text > p {
  color: rgb(82, 93, 118, 0.7);
  font-size: 0.8em;
  line-height: 1.5em;
}
.thumbnail_img {
  border: 1px solid #000;
  width: 100%;
  height: 50vh;
  position: relative;
}
/* 원형 자르기 */
.crop_circle {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.thumbnail_btn {
  text-align: center;
  margin-top: 0.5rem;
}
.thumbnail_btn > .white_btn:nth-child(1) {
  margin-right: 2em;
}
/* 입력폼-------------------------------- */
.weekly_input {
  width: 50%;
  height: 100%;
  float: right;
  background: lightgoldenrodyellow;
  padding: 2.5rem;
}
/* 여행 국가 및 여행 기간 */
.weekly_input > ul > li:nth-child(1),
.weekly_input > ul > li:nth-child(4) {
  display: flex;
  justify-content: space-between;
  background: lightblue;
}
.country {
  border: 1px solid #000;
}
/* 여행 제목 */
.weekly_input > ul > li:nth-child(2) {
  background: lightcoral;
}
/* 여행 추가글 작성 */
.weekly_input > ul > li:nth-child(3) {
  background: lightgreen;
}
/* 동행인 및 공개여부 */
.weekly_input > ul > li:nth-child(4) {
  background: lightslategray;
}
/* 여행국가 선택 */
.country {
}

/* input */
.weekly_form input,
.weekly_form select,
.weekly_form textarea {
  background: #f7f7f7;
  font-size: 0.8rem;
  padding: 0.8rem;
  border: none;
  border-radius: 0.2rem;
}

/* button */
.weekly_form > button {
  position: absolute;
  top: calc(100% + 2.5em);
  left: 50%;
  transform: translateX(-50%);
}

/* icon 아이콘 */
.weekly_icon {
  width: 0.8rem;
  height: auto;
  max-width: 100%;
}
