main {
  width: 100%;
  height: 100%;
  border-left: 1.5px solid rgb(82, 93, 118, 0.5);
  /* margin-left: 0 2.37% 0 2.37%; */
  margin-left: 2.37%;
}

#weekly_form > h1 {
  font-size: 1em;
  font-weight: 400;
  padding: 1.5em 0;
  text-align: center;
  border-bottom: 1.5px solid rgb(82, 93, 118, 0.5);
  color: #525d76;
}

.weekly_form {
  position: relative;
  width: fit-content;
  height: calc(100% - 4rem);
  padding: 2.5em 10%;
  box-sizing: border-box;
  overflow: hidden;
}
.weekly_form > div {
  height: 90%;
  border-radius: 1em;
  position: relative;
  box-sizing: border-box;
}
/* 썸네일 thumbnail------------------------- */
.thumbnail {
  width: calc(33% + 5rem);
  float: left;
  background: #f7f7f7;
  box-shadow: 0 0 1px 0.05px rgb(179, 179, 179, 0.5);
  padding: 2.5rem;
}
.thumbnail_input {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.thumbnail_text > p {
  color: rgb(82, 93, 118, 0.7);
  font-size: 0.8em;
  line-height: 1.5em;
  font-weight: 300;
}
.thumbnail_img {
  width: 75%;
  height: 0;
  overflow: hidden;
  position: relative;
  padding-bottom: 75%;
  align-self: center;
}
.thumbnail_img img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
}
.thumbnail_img.cicrcle {
  padding-bottom: 0;
}
.thumbnail_btn {
  text-align: center;
  margin-top: 0.5rem;
  position: relative;
}
.thumbnail_btn span {
  font-size: 0.7rem;
  letter-spacing: 0.05rem;
  font-weight: 3000;
}
.thumbnail_btn label {
  width: inherit;
  height: inherit;
  display: inline-block;
  padding: 0.85rem 0;
  cursor: pointer;
}
.thumbnail_btn button:nth-child(1) {
  padding: 0;
  margin-right: 2em;
}
/* 입력폼-------------------------------- */
.weekly_input {
  width: calc(50% + 5rem);
  float: right;
  padding: 1.5rem 2.5rem;
  background: #efeee9;
}
.weekly_input > ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.weekly_input > ul > li {
  margin-bottom: 2em;
  position: relative;
}
/* 여행 국가 및 여행 기간 */
.weekly_input > ul > li:nth-child(1),
.weekly_input > ul > li:nth-child(4) {
  display: flex;
  justify-content: space-between;
}
/* 여행국가 선택 */
.country {
  width: 25%;
}

/* 여행 기간 */
.period {
  width: 65%;
}
.period_flex {
  display: flex;
  box-shadow: 0 0 1px 0.05px rgb(179, 179, 179, 0.5);
}
.dateSet:nth-child(1) {
  background: #f7f7f7;
  border-right: 2px solid #efeee9;
  border-radius: 0.2rem 0 0 0.2rem;
}
.dateSet:nth-child(2) {
  background: #f7f7f7;
  border-radius: 0 0.2rem 0.2rem 0;
}
span.dateSet > input[type="text"] {
  position: relative;
  width: 80%;
}
a.dateClick {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  text-indent: -999em;
  background: url(../image/weekly/icon/calendar-b.png) center center no-repeat;
  background-size: cover;
  vertical-align: middle;
  position: relative;
}
/* 여행 제목 */
.weekly_input > ul > li:nth-child(2) {
}
/* 여행 추가글 작성 */
.weekly_input > ul > li:nth-child(3) {
}
/* 동행인 및 공개여부 */
.weekly_input > ul > li:nth-child(4) {
  margin-bottom: 0em;
}
.companion {
  width: 40%;
}
.companion h3 {
}
.companion ul.sel_companion {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  /* display: flex; */
}
.companion ul.sel_companion li {
  float: left;
  width: 3em;
  height: 3em;
  text-indent: -999px;
  border: 2px solid #efeee9;
  left: 0em;
  font-size: 0.9rem;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -0.5rem;
}
.companion ul.sel_companion li:nth-child(1) {
  margin-left: 0;
}
#plus_companion {
  border-radius: 100px;
  background: #f7f7f7;
  text-indent: 0;
  text-align: center;
  line-height: 3em;
  border: 2px solid rgb(53, 58, 82, 0.3);
  cursor: pointer;
  transition: 0.2s;
  overflow: hidden;
  color: rgb(53, 58, 82, 0.5);
  position: relative;
}

#plus_companion:hover {
  width: 7em;
  border-radius: 100px;
  background: #f7f7f7;
  text-indent: 0;
  text-align: center;
  line-height: 3em;
}
#plus_companion > i {
  vertical-align: sub;
  display: inline-block;
  font-size: 1em;
}
#plus_companion > span {
  display: inline;
  font-size: 0.6em;
  font-weight: 400;
  display: none;
}
#plus_companion:hover span,
#plus_companion:hover i {
  display: inline-block;
}

/* 공개여부 = disclosure */
.disclosure {
  width: 65%;
}
.disclosure h3 {
}
.disclosure > ul {
  display: flex;
}
.disclosure > ul > li {
  width: 100%;
}
.disclosure input[type="radio"] + label {
  display: inline-block;
  width: calc(270% / 3);
  height: auto;
  padding: 0.85rem 0rem;
  position: relative;
  cursor: pointer;
  border: 2px solid rgb(53, 58, 82, 0.3);
  border-radius: 100px;
  text-align: center;
  vertical-align: text-bottom;
  background: #efeee9;
  color: rgb(53, 58, 82, 0.3);
  font-size: 0.7rem;
  font-weight: 400;
}
.disclosure input[type="radio"]:checked + label {
  border: 2px solid #a0c1ca;
  background: #ffffff;
  color: #a0c1ca;
  font-weight: 400;
}
/* input */
.weekly_form input[type="text"],
.weekly_form select,
.weekly_form textarea {
  box-shadow: 0 0 1px 0.05px rgb(179, 179, 179, 0.5);
}
/* 여행기간 border-left지우기 */
.weekly_form .period .period_flex span.dateSet input[type="text"] {
  box-shadow: none;
}

/* button */
.weekly_form > button {
  position: absolute;
  /* top: calc(100% + 2.5rem); */
  bottom: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
}

/* icon 아이콘 */
.weekly_icon {
  width: 0.9rem;
  height: auto;
  max-width: 100%;
  vertical-align: sub;
}

/* 동행인 추가 모달창 */
.companion_modal_bg {
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 100;
}
.companion_modal_bg.show {
  opacity: 100;
  visibility: visible;
}
.companion_modal {
  width: 25%;
  height: 75%;
  background: #efeee9;
  padding: 2rem 2.5rem;
  box-sizing: border-box;
  border-radius: 0.3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.companion_modal h3 {
  margin-bottom: 0.8rem;
  align-self: flex-start;
}

/* 아이디검색 */
.id_search {
  width: 100%;
  height: 3em;
  height: fit-content;
  position: relative;
}
.id_search input {
  width: 100%;
  height: 100%;
  background: rgba(179, 179, 179, 0.3);
  padding-right: 3rem;
}
/* serch input 초기화 커스텀 변경 */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}
.id_search img {
  position: absolute;
  right: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5rem;
  display: inline-block;
}
/* 친구 리스트 */
.friendsList {
  width: 100%;
  height: fit-content;
  overflow-y: scroll;
  margin: 1.5rem 0 1.5rem 0;
  position: relative;
}
/* 스크롤바 디자인 */
.friendsList::-webkit-scrollbar {
  width: 0.2em;
}
.friendsList::-webkit-scrollbar-thumb {
  background: rgb(82, 93, 118, 0.3);
  border-radius: 5px;
}

ul.checked_friends {
}
.friendsList ul li {
  width: 100%;
  height: fit-content;
}
.friendsList ul li label {
  width: 100%;
  height: 3rem;
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: 1rem;
  position: relative;
}

.friendsList ul li label span.profile_circle {
  /* flex: 1; */
  width: 3rem;
  height: 0;
  overflow: hidden;
  position: relative;
  padding-bottom: 3rem;
}
.friendsList ul li label span.profile_circle img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.friendsList ul li label span.profile_circle:after {
  content: "";
  display: block;
}
span.circle.profile_circle::after {
  padding-bottom: 0rem;
}
.friendsList ul li label span.nickname {
  padding: 1rem;
  font-size: 0.9rem;
  font-weight: 400;
}
.friendsList ul li input[type="checkbox"] {
  flex: 1;
}
.friendsList ul li label:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  border: 1px solid rgb(82, 93, 118, 0.3);
}
.friendsList ul li input[type="checkbox"]:checked + label:after {
  content: "\2714";
  color: #f7f7f7;
  background: #a0c1ca;
  padding: 0.3rem 0 0 0.3rem;
  border: 1px solid transparent;
}
.companion_modal button {
  height: fit-content;
  margin: 0rem 0;
  text-align: center;
}

input[type="file"] {
  /* display: none; */
}
