<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TravelCarrier</title>

  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/weekly_form.css">
  <link rel="stylesheet" href="/css/weekly.css">
  <!-- <link rel="stylesheet" href="../../static/css/daily.css"> -->
  <link rel="stylesheet" href="/css/daily(modal).css">

  <!-- XEicon -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">

  <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
</head>

<body>

  <header>
    <nav>
      <div class="nav">
        <div class="hamburger on">
          <span></span>
          <span></span>
        </div>
        <div class="logo">
          <a href="index.html">
            <img src="/image/header/logo/journal.png" alt="logo">
          </a>
        </div>
      </div>
      <div class="board_link">
        <a href="">Board</a>
      </div>
      <div class="contact_link">
        <a href="">Contact</a>
      </div>
    </nav>
    <div class="navigation"></div>
  </header>
  <!-- utill 유틸 -->
  <div class="utill_menu">
    <div class="notice">
      <img src="/image/header/icon/notification.png" alt="실시간 알림 아이콘">
    </div>
    <div class="profile">
      <a href="#none"></a>
    </div>
  </div>
  <main class="daily">
    <!-- daily 시작화면 UI -->
    <div class="daily_start">
      <div class="sdaily_text">
        <p><b>여행</b>동안 경험했던 <b>소중한 추억</b>을
        </p>
        <p>사진과 함께 남겨주세요</p>
      </div>
      <div class="writing square rectL">
        <div class="circle">
          <img src="/image/daily/icon/pencil.png" alt="edit diary icon">
        </div>
        <span>글쓰기</span>
        <!-- <div class="square rectL rectW"> -->
      </div>
    </div>

    <!--daily-form 데일리 입력 폼/ 모달창 -->
    <div class="daily_form_bg">
      <form action="" id="daily_form">
        <div class="Dform_modal">
          <div class="Dform_title">
            <h3>일기장</h3>
            <button class="close">close</button>
          </div>
          <div class="Dform">
            <div class="daily_imgs">
              <img src="/image/daily/icon/upload-b.png" alt="">
              <p>클릭하여 파일을 선택하거나</p>
              <p>드래그하여 파일을 업로드해주세요</p>
            </div>
            <div class="daily_input">
              <div class="daily_days">
                <ul class="daily_days_slide">
                  <li class="Dtab days_num1">
                    <span>DAY1</span>
                  </li>
                  <li class="Dtab days_num2">
                    <span>DAY2</span>
                  </li>
                  <li class="Dtab days_num3">
                    <span>DAY3</span>
                  </li>
                  <li class="Dtab days_num4">
                    <span>DAY4</span>
                  </li>
                </ul>
              </div>
              <div class="daily_title">
                <h3>제목(선택)</h3>
                <input type="text" placeholder="제목을 작성해주세요">
              </div>
              <div class="daily_text">
                <h3>메모</h3>
                <textarea name="" id="" cols="30" rows="10" placeholder="일기를 작성해주세요"></textarea>
              </div>
              <div class="daily_files">
                <h3>이미지 파일</h3>
                <p class="fileP">이미지 파일 경로
                  <img src="/image/daily/icon/changeImg.svg" alt="이미지변경">
                </p>
                <input type="radio" name="repImg" id="repImg">
                <label for="repImg">대표이미지로 설정
                  <b>i (대표이미지는 날짜별 대표 이미지를 의미합니다)</b>
                </label>
              </div>
            </div>
          </div>
        </div>
        <button class="btn daily_btn">저장하기</button>
      </form>
    </div>
    <!--daily-form 데일리 입력 폼/ 모달창-->
    <div class="daily_form_bg">
      <form action="" id="daily_form">
        <div class="Dform_title">
          <button class="close">
            <i class="xi-close xi-2x"></i>
          </button>
          <h3>일기장</h3>
        </div>
        <div class="Dform">
          <div class="Dform_imgs">
            <p>이미지를 드래그하여 순서를 편집할 수 있습니다.</p>
            <ul class="Dform_imglist">
              <li> </li>
              <li> </li>
              <li id="main"> </li>
              <li> </li>
              <li> </li>
              <li id="clickImg"> </li>
              <li> </li>
              <li> </li>
              <li> </li>
              <li> </li>
              <input type="file" multiple id="moreImg"></input>
              <label for="moreImg"><i class="xi-plus"></i></label>
            </ul>
          </div>
          <div class="Dform_input">
            <div class="daily_days">
              <ul class="days_tabSlide">
                <li class="Dtab days_num1">
                  <span>DAY1</span>
                </li>
                <li class="Dtab days_num2">
                  <span>DAY2</span>
                </li>
                <li class="Dtab days_num3">
                  <span>DAY3</span>
                </li>
                <li class="Dtab days_num4">
                  <span>DAY4</span>
                </li>
              </ul>
            </div>
            <div class="daily_title">
              <h3>제목(선택)</h3>
              <input type="text" placeholder="제목을 작성해주세요">
            </div>
            <div class="daily_text">
              <h3>메모</h3>
              <textarea name="" id="" cols="30" rows="10" placeholder="일기를 작성해주세요"></textarea>
            </div>
            <div class="daily_files">
              <h3>이미지 파일</h3>
              <p class="fileP">이미지 파일 경로
                <img src="/image/daily/icon/changeImg.svg" alt="이미지변경">
              </p>
              <input type="radio" name="repImg" id="repImg">
              <label for="repImg">대표이미지로 설정
                <b>i (대표이미지는 날짜별 대표 이미지를 의미합니다)</b>
              </label>
            </div>
            <button class="btn Dform_btn">저장하기</button>
          </div>
        </div>
      </form>
    </div>
    <!-- daily 일기화면(hover전) -->
    <div class="diary_noH">
      <div class="diary_titlebox">
        <h1 th:text="${weekly.title}">PARIS</h1>
        <p th:text = "'기간 : ' + ${weekly.travelDate.sDate} + ' ~ ' + ${weekly.travelDate.eDate}">기간 : 2023-03-28 ~ 2023-03-29</p>
      </div>

      <div class="diary_slides">
        <ul class="diary_slide">
          <li th:each="daily : ${dailies}" class="d_slide square sqr">
            <img th:src="${daily.attachThumb}" src="/image/daily/diary/IMG_6493.JPG" alt="">
          </li>
        </ul>
      </div>

      <div class="writing circle">
        <img src="/image/daily/icon/pencil.png" alt="edit daily">
      </div>
    </div>

    <!-- daily 일기화면(hover후) -->

  </main>
  <script src="/script/diary.js"></script>
</body>

</html>