<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- head 추가해줌 -->
<th:block th:replace="fragments/head :: headFragment"></th:block>

<body>
  <th:block th:replace="fragments/header :: headerFragment"></th:block>

  <main>
    <div class="weekly_thumbnails">
      <div id="more_thumbnail">
        <a href="/TravelCarrier/weeklyForm">
          <div class="plus">
            <span></span>
            <span></span>
          </div>
        </a>
      </div>
    </div>
  </main>
  <!-- script -->
  <script>
  </script>

</body>

</html>