<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TravelCarrier</title>

  <link rel="stylesheet" href="../../static/css/reset.css">
  <link rel="stylesheet" href="../../static/css/common.css">
  <link rel="stylesheet" href="../../static/css/header.css">
  <link rel="stylesheet" href="../../static/css/main.css">
  <link rel="stylesheet" href="../../static/css/weekly_form.css">
  <link rel="stylesheet" href="../../static/css/weekly.css">

  <!-- XEicon -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">

  <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
</head>

<body>

  <header>
    <nav>
      <div class="nav">
        <div class="hamburger on">
          <span></span>
          <span></span>
        </div>
        <div class="logo">
          <a href="index.html">
            <img src="../../static/image/header/logo/journal.png" alt="logo">
          </a>
        </div>
      </div>
      <div class="board_link">
        <a href="">Board</a>
      </div>
      <div class="contact_link">
        <a href="">Contact</a>
      </div>
    </nav>
    <div class="navigation"></div>
  </header>
  <!-- utill 유틸 -->
  <div class="utill_menu">
    <div class="notice">
      <img src="../../static/image/header/icon/notification.png" alt="실시간 알림 아이콘">
    </div>
    <div class="profile">
      <a href="#none"></a>
    </div>
  </div>
  <main class="weekly">
    <article>
      <div class="longBox">
        <div class="weekly_edit">
          <a href="#none">
            <img src="" alt="위클리 수정">
          </a>
        </div>
        <div class="weekly_mainArtc">
          <div class="weekly_title">
            <h2 th:text="${weekly.title}">제목</h2>
          </div>
          <div class="weekly_period">
            <h3>2022.10.24-2022.10.28</h3>
          </div>
          <div class="weekly_addText">
            <p></p>
          </div>
          <div class="weekly_with">
            <div class="weekly_companion">
              <span>with.</span>
              <span class="crop_circle">,</span>
              <span class="crop_circle">,</span>
            </div>
            <div class="weekly_disclosure">
              <span><img src="" alt="비공개"></span>
              <span><img src="" alt="공개"></span>
              <span><img src="" alt="친구공개"></span>
            </div>
          </div>
        </div>
      </div>
    </article>
    <!-- 홀수 레이아웃 -->
    <div class="shortBox shortBox_odd">
      <div class="dateBox">
        <span>10.24</span>
        <h1 id="travelDay_odd">01</h1>
        <!-- 여행일 수 만큼 홀수 변수로 들어가게됨  -->
      </div>
      <div class="keywordBox">
        <span>키워드 입력</span>
      </div>
      <div class="moreBox">
        <a href="#none">more</a>
      </div>
    </div>
    <div class="longBox">
      <div class="plusBox">
        <div class="plus_big">
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- 짝수 레이아웃 -->
    <div class="shortBox shortBox_even">
      <div class="dateBox">
        <span>10.25</span>
        <h1 id="travelDay_even">02</h1>
        <!-- 여행일 수 만큼 짝수 변수로 들어가게됨  -->
      </div>
      <div class="keywordBox">
        <!-- 키워드가 들어왔을 때 디자인 하기 -->
        <span>키워드 입력</span>
      </div>
      <div class="moreBox">
        <a href="#none">more</a>
      </div>
    </div>
    <!-- 여행일 추가하기 -->
    <div class="shortBox">
      <div class="plus_big">
        <span></span>
        <span></span>
      </div>
      <div>
        <p>여긴 뭐넣을지 아직 못정했음</p>
      </div>
      <div>
        <a href="#" class="gotoTop">뿅</a>
      </div>
    </div>


    <!-- 키워드 팝업 -->
    <div class="keyword_popup">
      <h2>키워드 추가</h2>
      <input type="text" name="keyword" placeholder="키워드를 작성해주세요">
      <div class="regKeyword">
        <p>등록된 키워드 <em>(키워드는 최대 9개까지 등록이 가능합니다)</em></p>
        <ul claas="keyword_card">
          <li class="card">키워드1</li>
          <li class="card">키워드2</li>
          <li class="card">키워드3</li>
          <li class="card">키워드4</li>
          <li class="card">키워드5</li>
        </ul>
      </div>
      <button type="submit">저장하기</button>
      <div class="keyword_close">
        <span>/</span>
        <span>/</span>
      </div>
    </div>
  </main>

</body>

</html>