<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- head 추가해줌 -->
<th:block th:replace="fragments/head :: headFragment"></th:block>

<body>

  <th:block th:replace="fragments/header :: headerFragment"></th:block>

  <!-- weekly form main 시작 -->
  <main id="weekly_form">
    <h1>만들어라 너의 일기장</h1>
    <form action="/TravelCarrier/weeklyForm" method="post" enctype="multipart/form-data" name="weekly_form"
      class="weekly_form">
      <div class="thumbnail">
        <div class="thumbnail_input">
          <div class="thumbnail_text">
            <h3>썸네일</h3>
            <p>지도에서 보여질 여행 썸네일 이미지를 선택해주세요. 이미지는 크기에 맞게 리사이징 됩니다. 썸네일 사진이 없을 경우에는 자동 지정된 이미지가 보여집니다.</p>
          </div>
          <div class=" thumbnail_img ">
            <div class="circle thumbnail_circle">
              <img src="/image/main/thumbnails/IMG_5924.JPG" alt="main_thumbnail_img">
            </div>
          </div>
          <div class="thumbnail_btn">
            <button class="btn white_btn" type="button">
              <img class="weekly_icon" src="/image/weekly/icon/edit-image-b.png" alt="img change icon">
              <input type="file" name="file"></input>
              <span>이미지 변경</span>
            </button>
            <button class="btn white_btn" type="button">
              <img class="weekly_icon" src="/image/weekly/icon/trash-can-b.png" alt="img delate icon">
              <span>이미지 삭제</span>
            </button>
          </div>
        </div>
      </div>
      <div class="weekly_input">
        <ul>
          <li> <!-- 국가 선택 / select:name = option:value----------------------------- -->
            <div class="country">
              <h3>여행 국가</h3>
              <select name="nation">
                <option id="0" value="82" selected>KOREA</option>
                <option id="1" value="83">FRANCE</option>
                <option id="2" value="84">SPAIN</option>
                <option id="3" value="85">CHAINA</option>
              </select>

            </div>
            <!-- 여행 기간 / script로 text -> date변환------------------------------- -->
            <div class="period">
              <h3>여행 기간</h3>
              <!-- 여행 시작일 -->
              <div class="period_flex">
                <span class="dateSet">
                  <input name="sdate" type="text" id="sdate" placeholder="2022-03-21">
                  <a href="#none" class="btncalender dateClick">달력</a>
                </span>
                <!-- 여행 종료일 -->
                <span class="dateSet">
                  <input name="edate" type="text" id="edate" placeholder="2022-03-22">
                  <a href="#none" class="dateClick">달력</a>
                </span>
              </div>
            </div>
          </li>
          <li> <!-- 제목 입력-------------------------------- -->
            <div class="title">
              <h3>제목</h3>
              <input name="title" type="text" placeholder="제목을 작성해주세요(미입력시 국가명으로 자동입력됩니다)">
            </div>
          </li>
          <li>
            <!-- 일기 작성-------------------------------- -->
            <div class="writing">
              <h3>추가글</h3>
              <textarea name="text" id="addText" cols="30" rows="10"
                placeholder="추가로 기재하고 싶은 글이 있을 경우 작성해주세요"></textarea>
            </div>
          </li>
          <li> <!-- 동행인--------------------------------------- -->
            <div class="companion">
              <h3>동행인</h3>
              <!-- 보이는 부분 -->
              <ul class="sel_companion">
                <li class="circle">
                  동행인 이미지
                </li>
                <li class="circle">
                  동행인 이미지
                </li>
                <li class="circle">
                  동행인 이미지
                </li>
                <li id="plus_companion">
                  <i class="xi-plus"></i>
                  <span>동행인 추가</span>
                </li>
              </ul>
            </div>
            <!-- 공개여부------------------------------------ -->
            <div class="disclosure">
              <h3>공개여부</h3>
              <ul>
                <li class="private">
                  <input type="radio" name="status" value="private" checked id="private">
                  <label for="private"><img src="/image/weekly/icon/hide-b.png" alt="" class="weekly_icon">
                    비공개</label>
                </li>
                <li class="public">
                  <input type="radio" name="status" value="public" id="public">
                  <label for="public"><img src="/image/weekly/icon/view-b.png" alt="" class="weekly_icon">
                    공개</label>
                </li>
                <li class="shareFriends">
                  <input type="radio" name="status" value="shareFriends" id="shareFriends">
                  <label for="shareFriends"><img src="/image/weekly/icon/people-b.png" alt="" class="weekly_icon">
                    친구공개</label>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <button type="submit" class="btn"> 저장하기 </button>
    </form>
    <!-- 동행인 추가 팝업 -->
    <div class="companion_modal_bg">
      <div class="companion_modal">
        <h3>아이디 검색</h3>
        <div class="id_search">
          <input type="search" placeholder="이름 또는 아이디를 입력해주세요">
          <img src="/image/weekly/icon/serch.svg" alt="serch icon">
        </div>
        <div class="friendsList">
          <ul class="checked_friends">
            <li>
              <label>
                <input type="checkbox" name="gowiths" value="yunah" checked>
                <span class="profile_circle circle">
                  <img src="/image/weekly/friendList/friend1.png" alt="friend1">
                </span>
                <span>이름</span>
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" name="gowiths" value="yunah" checked>
                <span class="profile_circle circle">
                  <img src="/image/weekly/friendList/friend2.png" alt="friend1">
                </span>
                <span>묭묭</span>
              </label>
            </li>
          </ul>
          <ul class="serch_friends">
          </ul>
        </div>
        <button type="button" class="btn">확인</button>
      </div>
    </div>
  </main>
  <script src="/script/weeklyform.js"></script>
</body>

</html>